.contactless-technology {
  background-color: rgba(#ebf8fc, 50%);
  border-radius: $border-radius-lg;
  display: flex;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.contactless-technology__icon {
  margin-right: 1.5rem;
}

.contactless-technology__header {
  margin: 0;
  margin-bottom: 0.5rem;
}

.contactless-technology__subheader {
  opacity: 0.75;
  font-size: 0.6em;
}
