// gc == go-contactless (our prefix for this Sass file)
$gc-tan: rgb(250, 245, 238);
$gc-blue: rgb(235, 248, 252);

.go-contactless-section,
.feature-section {
  padding: 4rem 10vw;
}

.go-contactless-hero {
  background: $gc-tan;
  background: linear-gradient(90deg, $gc-tan 0, $gc-tan 37%, $gc-blue 37%, $gc-blue 100%);
}

.go-contactless-hero__inner {
  background-image: url(https://res.cloudinary.com/carvin/image/upload/v1608688798/calitp/mm-hero-curve.svg);
  background-position: -12px bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  margin: 0 auto;
  max-width: 782px;
  padding-top: 50px;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 120px;
  }
}

.go-contactless-benefit-card-container,
.focus-box-container {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.go-contactless-benefit-card,
.focus-box,
.agency {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.go-contactless-benefit-card,
.focus-box {
  padding: 1.5rem;
}

.agency-container {
  display: grid;
  grid-gap: 2rem;
  padding: calc(32rem / 16) 0;

  @include media-breakpoint-between(sm, lg) {
    grid-template-columns: 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.agency {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 199px;
  border: 1px solid #dee2e6;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0;
  padding: 0 20px;

  h3,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  img {
    width: auto;
    max-width: 200px;
    max-height: 140px;
    overflow: auto;
  }
}

.contactless-cta-image {
  width: 424px;
}

ol.timeline {
  list-style-type: none;
  margin-left: 0;
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    padding-bottom: calc(8rem / 16);
  }
  li {
    counter-increment: customlistcounter;
  }
  li:before {
    content: counter(customlistcounter) " ";
    font-weight: 600;
    float: left;
    width: calc(48rem / 16);
    color: $primary;
    border: calc(4rem / 16) solid $primary;
    border-radius: 50%;
    height: calc(48rem / 16);
    font-size: calc(24rem / 16);
    text-align: center;
    line-height: calc(40rem / 16);
    box-sizing: border-box;
    background: $gc-tan;
  }
  &:first-child {
    counter-reset: customlistcounter;
  }
  .timeline-item {
    margin-left: calc(24rem / 16);
    padding-left: calc(36rem / 16);
    border-left: 4px solid $primary;
    padding-bottom: calc(50rem / 16);
  }
  li:last-of-type .timeline-item {
    border-left: calc(4rem / 16) solid transparent;
    padding-bottom: 0;
  }
}

.go-contactless-timeline-container {
  .procurement-image {
    order: 3;
  }
  .procurement-timeline {
    order: 1;
  }
  .procurement-button {
    order: 2;
  }
  @include media-breakpoint-up(md) {
    .procurement-image,
    .procurement-button,
    .procurement-timeline {
      order: initial;
    }
  }
}
