// gc == go-contactless (our prefix for this Sass file)
$gc-tan: rgb(250, 245, 238);
$gc-blue: rgb(235, 248, 252);

.go-contactless-section {
  padding: 4rem 10vw;
}

.go-contactless-hero {
  background: $gc-tan;
  background: linear-gradient(90deg, $gc-tan 0, $gc-tan 37%, $gc-blue 37%, $gc-blue 100%);
}

.go-contactless-hero__inner {
  background-image: url(https://res.cloudinary.com/carvin/image/upload/v1608688798/calitp/mm-hero-curve.svg);
  background-position: -12px bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;

  margin: 0 auto;
  max-width: 782px;
  padding-top: 50px;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 120px;
  }
}

.go-contactless-benefit-card-container {
  display: grid;
  grid-gap: 2rem;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.go-contactless-benefit-card,
.go-contactless-agency {
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.go-contactless-benefit-card {
  background-color: #fff;
  padding: 1rem;
}

.go-contactless-agency-container {
  display: grid;
  grid-gap: 2rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.go-contactless-agency {
  h3,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  img {
    width: 100%;
  }
}

.ctct-form-embed.form_0 .ctct-form-defaults {
  background-color: white !important;
}

.contactless-cta-image {
  width: 424px;
}

ol.timeline {
  list-style-type: none;
  margin-left: 0;
  h3,
  p {
    margin: 0;
    padding: 0;
  }
  h3 {
    padding-bottom: 8px;
  }
  li {
    counter-increment: customlistcounter;
  }
  li:before {
    content: counter(customlistcounter) " ";
    font-weight: 600;
    float: left;
    width: 48px;
    color: #046b99;
    border: 4px solid #046b99;
    border-radius: 50%;
    height: 48px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    background: #f6f3ed;
  }
  &:first-child {
    counter-reset: customlistcounter;
  }
  .timeline-item {
    margin-left: 24px;
    padding-left: 36px;
    border-left: 4px solid #046b99;
    padding-bottom: 50px;
  }
  li:last-of-type .timeline-item {
    border-left: 4px solid transparent;
    padding-bottom: 0;
  }
}
