.home-hero-title {
  font-size: 1.5rem;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.4rem;
    text-align: left;
  }
}

.home-what-is {
  padding: 4rem 0;

  @include media-breakpoint-up(md) {
    padding-left: 20%;
    padding-right: 20%;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.home-cta-image {
  @include media-breakpoint-up(lg) {
    max-width: 400px;
  }
}
