@include media-breakpoint-up(md) {
  .how-to-go-contactless .main-primary {
    height: calc(100vh - 112px);
    overflow-y: scroll;
  }
}

@include media-breakpoint-down(md) {
  .go-contactless--how-to.go-contactless-section {
    padding: 0;
    .row {
      margin: 0;
    }
    .content-container {
      padding: 1.4rem 16px;
      position: inherit;
    }
  }
}
