.contact-submission-success {
  display: none;
  margin-top: map-get($spacers, 4);
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-top: map-get($spacers, 5);
  }
}

.form-submit {
  margin-bottom: 0;
  margin-top: map-get($spacers, 4);
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-top: map-get($spacers, 5);
  }

  input[type=submit],
  .btn {
    min-width: 150px;

    @include media-breakpoint-up(md) {
      width: 32%;
    }
  }
}

//
// Overrides
//

.form-group {
  margin-bottom: map-get($spacers, 4);

  label {
    @include media-breakpoint-up(md) {
      padding-left: map-get($spacers, 3);
    }
  }

  label.form-check-inline {
    font-weight: normal;
    margin-bottom: map-get($spacers, 3);
    padding-left: 2.4rem !important;

    .check-icon-checkbox {
      border: solid 2px $black;
      border-radius: $border-radius-lg;
      background-color: $white;
      font-size: 1rem;
      top: 1rem;
      width: 24px;
      height: 24px;
    }

    input[type=checkbox]:checked + .check-icon-checkbox {
      border-color: $primary;
    }

    span {
      font-weight: 600;
    }
  }
}

.form-control {
  border: solid 2px $black;
  border-radius: $border-radius-lg;
  color: $text-color;
  font-size: $custom-select-bg-size;

  &::placeholder {
    color: #757575;
  }
}
