.main-content a {
  &:not(.btn) {
    border-bottom: 2px solid currentColor;
    font-weight: bold;

    &,
    &:hover {
      background: 0;
    }
  }

  &.no-default-style {
    border-bottom: 0;
    font-weight: normal;
  }
}
