<div class="agency-container">
    <div class="agency">
        <img alt="Clean Air Express" src="/uploads/clean-air-express.png" />
    </div>
    <div class="agency">
        <img alt="Monterey-Salinas Transit" src="/uploads/monterey-salinas-transit-mst.png" />
    </div>
    <div class="agency">
        <img alt="Sacramento Regional Transit" src="/uploads/sacramento-regional-transit-sacrt.png" />
    </div>
    <div class="agency">
        <img alt="Santa Barbara Metropolitan Transit District"
            src="/uploads/santa-barbara-metropolitan-transit-district-sb-mtd.png" />
    </div>
</div>
