<form id="data-estimator">
  <fieldset>
    <legend>Select your (per vehicle) features:</legend>

    <div class="d-flex gap-3">
      <div style="border: 1px solid black; padding: 20px; border-radius: 8px" class="d-flex flex-column">
        <div>
          <input type="checkbox" id="gtfs" name="gtfs" data-estimate="1" checked />
          <label for="gtfs">GTFS Realtime</label>
        </div>
        <div>
          <input type="checkbox" id="fare-1" name="fare-1" data-estimate="1" />
          <label for="fare-1">1 fare payment validator</label>
        </div>
        <div>
          <input type="checkbox" id="fare-2" name="fare-2" data-estimate="2" />
          <label for="fare-2">2 fare payment validators</label>
        </div>
        <div>
          <input type="checkbox" id="camera" name="camera" data-estimate="80" />
          <label for="camera">Cameras</label>
        </div>
        <div>
          <input type="checkbox" id="cad" name="cad" data-estimate="10" />
          <label for="cad">CAD/AVL</label>
        </div>
        <div>
          <input type="checkbox" id="wifi" name="wifi" data-estimate="50" />
          <label for="wifi">Passenger Wi-Fi</label>
        </div>
      </div>
      <div style="border: 1px solid black; padding: 20px; border-radius: 8px">
        <p>Recommended data plan</p>
        <p id="recommendation">1 GB</p>
      </div>
    </div>
  </fieldset>
</form>

<script>
  function usageToPlan(estimate) {
    return estimate > 25 ? "Unlimited" : estimate > 5 ? "25 GB" : estimate === 4 ? "5 GB" : `${estimate} GB`;
  }

  // self executing function
  (function () {
    const form = document.querySelector("#data-estimator");
    const recommendation = document.querySelector("#recommendation");

    form.addEventListener("change", () => {
      const checkedInputs = Array.from(form.querySelectorAll("input:checked"));
      const estimates = checkedInputs.map((input) => Number(input.dataset.estimate));
      const sum = estimates.reduce((accumulator, currVal) => accumulator + currVal, 0);
      recommendation.innerText = usageToPlan(sum);
    });
  })();
</script>
