{% comment %}
  Usage: {% include related-documents.html resource_tag="Tap2Pay" %}
  Parameters: * resource_tag (string) - the name of a tag to filter on
  Output: Markup for a heading and list of downloadable cards associated with a specific tag.
{% endcomment %}

<div class="container" style="max-width: 1200px;">
  <h3 class="text-center m-4">Downloadable resources</h3>
  <div class="d-flex flex-md-row flex-column flex-wrap justify-content-center align-content-center gap-4">
    {% for resource in site.data.resources %}
      {% if resource.tags contains include.resource_tag %}
        {% assign dl_img = "/uploads/resources/thumbnails/" | append: resource.thumbnail %}
        {% assign dl_tag = include.resource_tag %}
        {% assign dl_title = resource.title %}
        {% assign dl_description = resource.description %}
        {% assign dl_view_url = "/resources/" | append: resource.slug %}
        {% assign dl_download_url = resource.filename %}
        {% include dl-card.html img=dl_img tag=dl_tag title=dl_title
          description=dl_description view_url=dl_view_url download_url=dl_download_url %}
      {% endif %}
    {% endfor %}
  </div>
</div>
