<section class="newsletter-container bg-dark-tan">
  <div class="container container--skinny">
    <div class="px-5">
      <!-- Begin Constant Contact Inline Form Code -->
      <div class="ctct-inline-form" data-form-id="8f54b6af-79b7-4242-a944-8c95d97a6eaa"></div>
      <!-- End Constant Contact Inline Form Code -->

      <noscript>
        <div class="alert alert-danger mb-0">
          <p><strong>JavaScript Required</strong></p>
          <p class="mb-0">Please enable JavaScript to load the newsletter sign-up form.</p>
        </div>
      </noscript>
    </div>
  </div>
</section>

<!-- Begin Constant Contact Active Forms -->
<script>
  var _ctct_m = "e240cb4001c90b8b1e2829cb8b017263";

  // watch the above form container for changes to its child list
  // as soon as Constant Contact injects the inner form, add a name attribute

  // see https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver#example
  const targetNode = document.querySelector(".ctct-inline-form");
  const callback = (mutations, observer) => {
    // the Constant Contact form is eating the submit event, which isn't bubbling to our amplitude.js handler
    // instead react to the submit button, and send the event from here
    $("button[type=submit]", targetNode).on("click", function (e) {
      analytics.track(analytics.events.submittedForm, {
        form: "newsletter",
      });
    });
    observer.disconnect();
  };

  const observer = new MutationObserver(callback);
  observer.observe(targetNode, { childList: true });
</script>
<script
  id="signupScript"
  src="https://static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js"
  async
  defer
></script>
<!-- End Constant Contact Active Forms -->
