<section class="newsletter-container {{ include.newsletter_background }}">
  <div class="container container--skinny">
    <div class="px-lg-5 px-md-5">
      <!-- Begin Constant Contact Inline Form Code -->
      <div class="ctct-inline-form" data-form-id="8f54b6af-79b7-4242-a944-8c95d97a6eaa"></div>
      <!-- End Constant Contact Inline Form Code -->

      <noscript>
        <div class="alert alert-danger mb-0">
          <p><strong>JavaScript Required</strong></p>
          <p class="mb-0">Please enable JavaScript to load the newsletter sign-up form.</p>
        </div>
      </noscript>
    </div>
  </div>
</section>

<!-- Begin Constant Contact Active Forms -->
<script>
  var _ctct_m = "e240cb4001c90b8b1e2829cb8b017263";
</script>
<script
  id="signupScript"
  src="https://static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js"
  async
  defer
></script>
<!-- End Constant Contact Active Forms -->
