{% if include.show_newsletter %} {% include newsletter-sign-up.html newsletter_background=include.newsletter_background %} {%
endif %}

<section class="bg-dark">
  <footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center border-top">
    <div class="container">
      <ul class="nav justify-content-start">
        {% include link-repeater.html menu_items=site.navigation.footer list_class="nav-item" anchor_class="nav-link text-white"
        %}
      </ul>
    </div>
  </footer>
</section>
