<header role="banner" id="header">
  <nav class="navbar navbar-expand-lg fixed-top bg-white main-navigation" aria-label="Navigation">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="d-lg-none mobi-mart-logo" src="/uploads/logo-sm.svg" alt="California Integrated Travel Project (Cal-ITP)" />
        <img
          class="d-none d-lg-inline mobi-mart-logo"
          src="/uploads/logo-lg.svg"
          alt="California Integrated Travel Project (Cal-ITP)"
        />
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample07"
        aria-controls="navbarsExample07"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample07" style="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Contactless</a></li>
              <li><a class="dropdown-item" href="#">Data Plans</a></li>
            </ul>
          </li>

          {% include link-repeater.html menu_items=site.navigation.header list_class="nav-item" anchor_class="nav-link" %}
        </ul>
      </div>
    </div>
  </nav>
</header>
