<header class="sticky-md-top bg-white" role="banner" id="header">
  <div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>
  <nav class="navbar navbar-expand-lg main-navigation" aria-label="Navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img class="d-lg-none mobi-mart-logo" src="/uploads/logo-sm.svg" alt="California Integrated Travel Project (Cal-ITP)" />
        <img
          class="d-none d-lg-inline mobi-mart-logo"
          src="/uploads/logo-lg.svg"
          alt="California Integrated Travel Project (Cal-ITP)"
          style="max-width: 300px"
        />
      </a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#siteHeaderNav"
        aria-controls="siteHeaderNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="siteHeaderNav">
        <ul class="navbar-nav nav-pills nav-fill w-100">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold text-body" href="#" data-bs-toggle="dropdown" aria-expanded="false"
              >Products</a
            >
            <ul class="dropdown-menu dropdown-menu-end">
              {% include link-repeater.html menu_items=site.navigation.products anchor_class="dropdown-item text-body" %}
            </ul>
          </li>

          {% include link-repeater.html menu_items=site.navigation.header list_class="nav-item" anchor_class="nav-link fw-bold
          text-body" %}
        </ul>
      </div>
    </div>
  </nav>
</header>
