<div class="row">
  <div class="toc col-md-3">
    <div class="toc-container">
      <h4>Table of Contents</h4>

      {% for item in site.data.contactless.toc.toc %}
      <h4>{{ item.title }}</h4>
      <ul>
        {% for entry in item.subsection_items %}
        <li><a href="#{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9">
    {% for item in site.data.contactless.toc.toc %}
    <h2>{{ item.title }}</h2>
    {% for entry in item.subsection_items %}
    <h3 id="{{ entry.url }}">{{ entry.title }}</h3>
    {% for paragraph in entry.paragraphs %}
    <p>{{ paragraph.text }}</p>
    {% endfor %} {% endfor %} {% endfor %}
  </div>
</div>
