<div class="row">
  <div class="toc col-md-3">
    <div class="toc-container">
      <h4>Table of Contents</h4>

      {% for item in include.toc_data %}
      <h4>{{ item.title }}</h4>
      <ul>
        {% for subsection_item in item.subsection_items %}
        <li><a href="#{{ subsection_item.url }}">{{ subsection_item.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9">
    {% for item in include.toc_data %}
    <h2>{{ item.title }}</h2>
    {% for subsection_item in item.subsection_items %}
    <h3 id="{{ subsection_item.url }}">{{ subsection_item.title }}</h3>
    {% for paragraph in subsection_item.paragraphs %} {% if paragraph.title %}
    <h4>{{ paragraph.title }}</h4>
    {% endif %}
    <p>{{ paragraph.text }}</p>
    {% endfor %} {% endfor %} {% endfor %}
  </div>
</div>
