---
layout: skinny
title: Get in touch
class_name: no-banner
form:
  form_target: form-contact
  confirm_target: form-confirm
---

<p>
  Have a question or comment? Please fill out the form below.
</p>

<p>
  Transit providers, please tell us how we can best assist you. Someone from the Cal-ITP team will then reach out to get you started with vendor selection, pricing, and procurement—or just to respond to your comment or question.
</p>

<p>
  Vendors, please tell us about your company’s products and/or services.
</p>

<p class="mb-60px">
  We welcome all site visitors to also <a href="{{ site.mailing_list }}">sign up for our mailing list</a> for important updates and to learn when new contracts become available.
</p>

<p class="indicates-required">
  <em>{% include forms/required-label.html %} Indicates required fields</em>
</p>

{% assign honeypot = "_hp_" %}
<form data-netlify="true" id="form-contact" method="POST" name="contact" netlify-honeypot="{{ honeypot }}">
  <div class="form-group">
    <label class="form-control-label" for="first_name">
      First name
      {% include forms/required-label.html %}
    </label>
    <input
      required
      aria-required="true"
      class="form-control"
      id="first_name"
      name="first_name"
      placeholder="Nyota"
      type="text"
    />
  </div>
  <div class="form-group">
    <label class="form-control-label" for="last_name">
      Last name
      {% include forms/required-label.html %}
    </label>
    <input
      required
      aria-required="true"
      class="form-control"
      id="last_name"
      name="last_name"
      placeholder="Uhura"
      type="text"
    />
  </div>
  <div class="form-group">
    <label class="form-control-label" for="agency">Agency name</label>
    <input
      class="form-control"
      id="agency"
      name="agency"
      placeholder="Elk Grove Transit"
      type="text"
    />
  </div>
  <div class="form-group">
    <label class="form-control-label" for="role">Role</label>
    <select class="form-control custom-select" id="role" name="role">
      <option value="">Select an option</option>
      <option value="Transit provider staff">Transit provider staff</option>
      <option value="Transit provider CEO">Transit provider CEO</option>
      <option value="Technology vendor">Technology vendor</option>
      <option value="Other">Other</option>
    </select>
  </div>
  <div class="form-group">
    <label class="form-control-label" for="email">
      Email address
      {% include forms/required-label.html %}
    </label>
    <input
      aria-required="true"
      class="form-control"
      id="email"
      name="email"
      placeholder="nyota.uhura@elkgrovecity.org"
      required type="email"
    />
  </div>
  <div class="form-group">
    <label class="form-control-label" for="phone-number">Phone number</label>
    <input
      class="form-control"
      id="phone-number"
      name="phone-number"
      placeholder="4155550199"
      type="tel"
    />
  </div>
  <div class="form-group">
    <label class="form-control-label" for="comments">
      Comments or queries
      {% include forms/required-label.html %}
    </label>
    <textarea
      required
      aria-required="true"
      class="form-control"
      id="comments"
      name="comments"
      placeholder="We welcome your questions, comments, or feedback!"
      rows=6
    ></textarea>
  </div>
  <div class="contact-submit">
    <button class="btn btn-primary btn-data-package" type="submit">Submit</button>
  </div>
  {% include forms/netlify-honeypot.html name=honeypot %}
</form>

<div class="contact-submission-success" id="form-confirm">
  <p>
    <img
      alt="Email confirmation illustration"
      class="img-fluid"
      src="/uploads/email-confirm.svg"
      title="Thank you!"
    />
  </p>

  <p>Thank you! We’ll be in touch soon!</p>

  <div>
    <a class="btn btn-primary" href="/" target="_self">
      Return home
    </a>
  </div>
</div>
