---
layout: skinny
show_newsletter: true
title: Resources
---

<section>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus id interdum velit laoreet. Egestas sed sed risus pretium. Porttitor leo a diam sollicitudin tempor id eu. Morbi blandit cursus risus at. Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Sed risus pretium quam vulputate dignissim suspendisse in est. Proin nibh nisl condimentum id venenatis a condimentum. Ipsum nunc aliquet bibendum enim. Ultrices sagittis orci a scelerisque purus semper eget duis at. Dignissim sodales ut eu sem integer vitae justo eget. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Auctor urna nunc id cursus metus aliquam eleifend mi in. Sit amet commodo nulla facilisi nullam vehicula ipsum. Habitasse platea dictumst quisque sagittis. Enim praesent elementum facilisis leo vel fringilla est ullamcorper. Ligula ullamcorper malesuada proin libero nunc consequat interdum.
  </p>
</section>

<section>
  {% for resource in site.data.resources %}
    <h2>{{ resource.name }}</h2>
      <p>{{resource.explainer}}</p>
      <ul>
        {% for link in resource.links %}
          <li><a href={{ link }}>Link</a></li>
        {% endfor %}
      </ul>
  {% endfor %}
</section>
