.filterable-table__pills {
  width: 100%;
}
.filterable-table__pills .pill {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.filterable-table__pills .pill:first-child {
  margin-left: 0;
}
.filterable-table__pills--provider-map {
  left: 15px;
  position: absolute;
  top: -35px;
}
