a.footnote-link {
  color: currentColor;
  display: inline-flex;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

.footnote-listing {
  font-size: 0.85rem;
  list-style: none;

  li:target {
    background-color: yellow;

    // Stupid overrides for some very invasive CA Gov styles
    &::before {
      height: auto;
      margin: 0;
    }
  }

  li {
    position: relative;
  }

  span.footnote-number {
    position: absolute;
    right: 100%;
    white-space: nowrap;
    margin-right: .4em;
  }
}
