a.footnote-link {
  color: currentColor;
  display: inline-flex;
}
a.footnote-link::before {
  content: "[";
}
a.footnote-link::after {
  content: "]";
}
.footnote-listing {
  font-size: 0.85rem;
  list-style: none;
}
.footnote-listing li:target {
  background-color: yellow;
}
.footnote-listing li:target::before {
  height: auto;
  margin: 0;
}
.footnote-listing li {
  position: relative;
}
.footnote-listing span.footnote-number {
  position: absolute;
  right: 100%;
  white-space: nowrap;
  margin-right: 0.4em;
}
