.mobi-mart-logo {
  max-height: 55px;
}

.fixed-top + .main-content {
  padding-top: 112px !important; // Padding for fixed header
}

.fixed-top .main-content {
  padding-top: 112px !important; // Padding for fixed header
}

.main-navigation {
  .nav-link {
    color: $text-color;
    font-family: $font-family;
    font-weight: bold;
  }

  .nav-link[aria-current="page"] {
    background-color: $blue-lightest;
    color: $primary;
  }
}
