#header + .main-content {
  padding-top: 112px !important; // Padding for fixed header
}

// #header + .main-content {
//   padding-top: 112px !important; // Padding for fixed header
// }

.main-navigation {
  .nav-link[aria-current="page"] {
    background-color: $blue-lightest;
    color: $primary;
  }

  .dropdown .dropdown-menu.dropdown-menu-end {
    right: 25% !important;
  }
}
