.page-header {
  border-bottom: $border-width solid $border-color;
  margin-bottom: 30px;
  padding-bottom: 1rem;
  text-align: left;

  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
    text-align: center;
  }
}
