.pill {
  background-color: #323a45;
  border-radius: 50px;
  color: #fff;
  display: inline-flex;
  flex-direction: row;
  font-size: 0.9rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  white-space: nowrap;

  .pill__close {
    appearance: none;
    background-color: transparent;
    border: 0;
    margin-left: 0.5rem;
    padding: 0;

    &::after {
      display: inline-block;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-x-circle' viewBox='0 0 16 16'%3E%3Cpath fill='%23ffffff' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath fill='%23ffffff' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      height: 16px;
      width: 16px;
      margin-top: -1px;
    }
  }
}
