.btn {
  border-radius: calc(5rem / 16);
  font-weight: bold;
  padding: 0.4375rem 0.75rem; // Button height of 40px
  width: 100%;
  @include media-breakpoint-up(md) {
    width: initial;
  }
}

.btn-outline-primary {
  background-color: transparent !important;

  &:hover {
    color: $primary !important;
  }
}
