//
// Contact: Hubspot Form
//

.required-label,
.hs-form-required {
  color: $warning;
}

#contact-container:has(.submitted-message) {
  #contact-form-tab fieldset {
    display: none;
  }

  .submitted-message {
    text-align: center;
  }
}

.hbspt-form {
  label,
  .hs-field-desc {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }
  .hs-form-field {
    margin-bottom: 1.5rem;
    .inputs-list {
      li {
        list-style: none;
      }
      &.hs-error-msgs {
        display: none;
        .hs-error-msg {
          font-weight: 400;
          display: none;
        }
      }
      &.multi-container {
        padding-left: 0;
        .hs-form-radio-display span,
        .hs-form-checkbox-display span {
          font-weight: 400;
          padding-left: 0.5rem;
          cursor: pointer;
          font-size: calc(20rem / 16);
          @include media-breakpoint-up(md) {
            font-size: calc(24rem / 16);
          }
        }
        .hs-form-checkbox-display {
          display: flex;
          @include media-breakpoint-up(sm) {
            align-items: center;
          }
          .hs-input {
            width: calc(24rem / 16);
            height: calc(24rem / 16);
            border-radius: calc(4rem / 16);
            flex-shrink: 0;
            &:checked {
              background-color: var(--bs-body-color);
              border-color: var(--bs-body-color);
            }
          }
        }
        .hs-form-radio-display {
          display: flex;
          align-items: center;
          margin-bottom: 2px;
          .hs-input {
            width: calc(24rem / 16);
            height: calc(24rem / 16);
            border-radius: 50%;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 2px solid $gray-3;
            appearance: none;
            print-color-adjust: exact;
            vertical-align: -3px;
          }
          .hs-input:checked {
            background-color: var(--bs-body-color);
            border-color: var(--bs-body-color);
          }
        }
      }
    }
    .input {
      .hs-input:not([type="checkbox"], [type="radio"], .hs-fieldtype-intl-phone) {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: calc(20rem / 16);
        @include media-breakpoint-up(md) {
          font-size: calc(24rem / 16);
        }
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        border: solid 2px $gray-3;
        border-radius: 0.3rem;
        background-color: #fff;
        background-clip: padding-box;
        appearance: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      .hs-input:focus,
      .hs-input:focus-visible {
        outline: 4px solid $focus;
      }
    }
  }
  .hs_error_rollup {
    .hs-error-msgs {
      padding-left: 0.4rem;
      li {
        list-style-type: "\002a";
        color: $warning;
        font-family: var(--bs-body-font-family);
        font-weight: 700;
      }
    }
  }
  .actions {
    text-align: center;
    .hs-button.primary.large {
      margin-bottom: 0;
      margin-top: 1.5rem;
      text-align: center;
      border-radius: calc(5rem / 16);
      font-weight: bold;
      padding: 0.493rem 0.75rem;
      border-width: 2px;
      background-color: var(--bs-primary);
      color: #fff;
      border: 2px solid var(--bs-primary);
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 32%;
      }
      &:focus,
      &:focus-visible {
        outline: 4px solid $focus;
      }
    }
  }
}

// I am a radio button tabs
#contact-form-tab {
  legend {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }
  .form-check-label {
    margin-left: 0.5rem;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      font-size: calc(24rem / 16);
    }
  }
  .form-check-input {
    width: calc(24rem / 16);
    height: calc(24rem / 16);
    border: 2px solid $gray-3;
    &:checked {
      background-color: var(--bs-body-color);
      border-color: var(--bs-body-color);
      background-image: none;
    }
    &:focus,
    &:focus-visible {
      outline: 4px solid $focus;
    }
  }
}
