//
// Contact: Hubspot Form
//

.required-label,
.hs-form-required {
  color: $warning;
}

#contact-container:has(.submitted-message) {
  #contact-form-tab fieldset {
    display: none;
  }

  .submitted-message {
    text-align: center;
  }
}

.hbspt-form {
  label,
  .hs-field-desc {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }
  .hs-form-field {
    margin-bottom: 1.5rem;
    .inputs-list {
      li {
        list-style: none;
      }
      &.hs-error-msgs {
        padding-left: 0;
        .hs-error-msg {
          font-weight: 400;
        }
      }
      &.multi-container {
        padding-left: 0;
        .hs-form-radio-display span,
        .hs-form-checkbox-display span {
          font-weight: 400;
          font-size: calc(24rem / 16);
          padding-left: 0.4rem;
          cursor: pointer;
        }
        .hs-form-checkbox-display {
          .hs-input {
            width: calc(24rem / 16);
            height: calc(24rem / 16);
          }
        }
        .hs-form-radio-display {
          .hs-input {
            width: calc(24rem / 16);
            height: calc(24rem / 16);
            border-radius: 50%;
            margin-top: 0.25em;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 1px solid $gray-3;
            appearance: none;
            print-color-adjust: exact;
            vertical-align: -3px;
          }
          .hs-input:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
            background-color: var(--bs-primary);
            border-color: var(--bs-primary);
          }
          .hs-input:focus {
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          }
        }
      }
    }
    .input {
      .hs-input:not([type="checkbox"], [type="radio"], .hs-fieldtype-intl-phone) {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-text-color);
        border: solid 2px $gray-3;
        border-radius: 0.3rem;
        background-color: #fff;
        background-clip: padding-box;
        appearance: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }
  .hs_error_rollup {
    .hs-error-msgs {
      padding-left: 0.4rem;
      li {
        list-style-type: "\002a";
        color: $warning;
        font-family: var(--bs-body-font-family);
        font-weight: 700;
      }
    }
  }
  .actions {
    text-align: center;
    .hs-button.primary.large {
      margin-bottom: 0;
      margin-top: 1.5rem;
      text-align: center;
      border-radius: calc(5rem / 16);
      font-weight: bold;
      padding: 0.493rem 0.75rem;
      border-width: 2px;
      background-color: var(--bs-primary);
      color: #fff;
      border: 2px solid var(--bs-primary);
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 32%;
      }
    }
  }
}

#contact-form-tab {
  legend {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
  }
  .form-check-label {
    font-size: calc(24rem / 16);
    margin-left: 1rem;
    cursor: pointer;
  }
  .form-check-input {
    width: calc(24rem / 16);
    height: calc(24rem / 16);
    &:checked {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  }
}
