{% assign action = site.actions | find: "ref_id", include.ref_id %}

{% if action %}

  {% assign tile_class = "section" %}
  {% assign btn_class = "btn btn-primary" %}

  {% if include.tile_class %}
    {% assign tile_class = "section section-" | append: include.tile_class %}
  {% endif %}

  {% if include.btn_class %}
    {% assign btn_class = "btn btn-" | append: include.btn_class %}
  {% endif %}

  <div class="action-tile {{ tile_class }}">
    {% if include.show_title %}
    <h2 class="action-title">{{ action.title }}</h2>
    {% endif %}
    <div class="action-content">
      {{ action.content }}
    </div>
    <div class="action">
      <a class="{{ btn_class }}" href="{{ action.href | absolute_url }}" target="{{ action.target }}">
        {{ action.text }}
      </a>
    </div>
  </div>

{% endif %}