<footer id="footer" class="global-footer">

  <div class="container">
    <div class="row">
      <div class="three-quarters">
        <ul class="footer-links">
          <li><a href="#skip-to-content">Back to Top</a></li>
          <li><a href="#">Conditions of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      Copyright &copy; <script>document.write(new Date().getFullYear())</script> State of California
    </div>
  </div>
</footer>