<section class="newsletter bg-dark-tan py-5">
  <div class="container container--skinny">
    <div class="px-5">
      <h2 class="mt-0 text-center">Stay up to date</h2>

      <p class="mb-5">
        Subscribe to our newsletter for important updates and to learn when new contracts become available.
      </p>

      <!-- @TODO: Set the action for this for our newsletter -->
      <form action="#">
        <label for="signup-email" class="mb-4">Email address</label>
        <div class="row no-gutters">
          <div class="col-md-9 pr-3">
            <input type="email" id="signup-email" class="form-control" required />
          </div>
          <div class="col-md-3">
            <button type="submit" class="btn btn-dark h-100 w-100">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
