<footer class="d-flex flex-column d-lg-none footer container-fluid row-gap-3">
  <img height="72" src="/uploads/logo-sm.svg" alt="California Integrated Travel Project (Cal-ITP)" />
  <p>
    Mobility Marketplace is a collection of guides to modernize California transit with pre-approved MSAs, brought to you by
    <a class="underlined-link" href="https://calitp.org">Cal-ITP</a>.
  </p>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <p><a class="font-weight-bold" href>Data plans</a></p>
      <p><a class="font-weight-bold" href>Route schedule</a></p>
      <p><a class="font-weight-bold" href>GTFS Realtime</a></p>
      <p><a class="font-weight-bold" href>Tap to pay</a></p>
      <p><a class="font-weight-bold" href>Rider benefits</a></p>
    </div>
    <div>
      <p>
        <a class="font-weight-bold" href="mailto:hello@calitp.org">hello@calitp.org</a>
      </p>
      <img src="/uploads/v2/linkedin.svg" alt="linkedin" />
      <img src="/uploads/v2/youtube.svg" alt="youtube" />
    </div>
  </div>
  <hr />
  <div class="d-flex flex-row justify-content-between">
    <a class="font-size-s" href="https://registertovote.ca.gov/" target="_blank">Register to vote</a>
    <a class="font-size-s" href="https://dot.ca.gov/privacy-policy" target="_blank">Privacy policy</a>
    <a class="font-size-s" href="https://dot.ca.gov/conditions-of-use" target="_blank">Conditions of use</a>
  </div>
</footer>
