<footer class="bg-dark container-fluid">
  <div class="row footer-row">
    <div class="col-2">
      <img src="/uploads/logo-sm.svg" alt="California Integrated Travel Project (Cal-ITP)" />
    </div>
    <div class="col-3">
      <p>
        Mobility Marketplace is a collection of guides to modernize California transit with pre-approved MSAs, brought to you by
        Cal-ITP.
      </p>
      <p>
        <a class="fw-bold text-reset" href="mailto:hello@calitp.org">hello@calitp.org</a>
      </p>
      <!-- in eleventy you can just include the raw svg. that might be an anti-pattern though -->
      <img src="/uploads/v2/linkedin.svg" alt="linkedin" />
      <img src="/uploads/v2/youtube.svg" alt="youtube" />
    </div>
    <div class="col">
      <p class="fw-bold">Data plans</p>
      <p class="fw-bold">Route schedule</p>
      <p class="fw-bold">GTFS-Realtime</p>
      <p class="fw-bold">Tap to pay</p>
      <p class="fw-bold">Rider benefits</p>
    </div>
    <div class="col-2">
      <p>Register to vote</p>
      <p>Privacy policy</p>
      <p>Conditions of use</p>
    </div>
  </div>
</footer>
