<footer class="container-fluid footer">
  <div class="row column-gap-4">
    <div class="col-2">
      <img src="/uploads/logo-sm.svg" alt="California Integrated Travel Project (Cal-ITP)" />
    </div>
    <div class="col-3">
      <p>
        Mobility Marketplace is a collection of guides to modernize California transit with pre-approved MSAs, brought to you by
        Cal-ITP.
      </p>
      <p>
        <a class="font-weight-bold text-reset" href="mailto:hello@calitp.org">hello@calitp.org</a>
      </p>
      <img src="/uploads/v2/linkedin.svg" alt="linkedin" />
      <img src="/uploads/v2/youtube.svg" alt="youtube" />
    </div>
    <div class="col-2">
      <p><a class="font-weight-bold text-reset" href>Data plans</a></p>
      <p><a class="font-weight-bold text-reset" href>Route schedule</a></p>
      <!-- no hyphen -->
      <p><a class="font-weight-bold text-reset" href>GTFS Realtime</a></p>
      <p><a class="font-weight-bold text-reset" href>Tap to pay</a></p>
      <p><a class="font-weight-bold text-reset" href>Rider benefits</a></p>
    </div>
    <div class="col-2 ms-auto">
      <p>
        <a class="subtle-link font-size-s font-weight-normal text-reset" href="https://registertovote.ca.gov/" target="_blank"
          >Register to vote</a
        >
      </p>
      <p>
        <a class="subtle-link font-size-s font-weight-normal text-reset" href="https://dot.ca.gov/privacy-policy" target="_blank"
          >Privacy policy</a
        >
      </p>
      <p>
        <a
          class="subtle-link font-size-s font-weight-normal text-reset"
          href="https://dot.ca.gov/conditions-of-use"
          target="_blank"
          >Conditions of use</a
        >
      </p>
    </div>
  </div>
</footer>
