body {
  font-size: 1rem;
}

blockquote {
  @extend .bg-gray-light, .rounded-lg;

  border-width: 0;
  padding: 2rem;
  font-size: 1.5rem;

  p:before {
    content: "“";
  }
  p:after {
    content: "”";
  }
  p {
    margin-bottom: 0.5rem;
  }

  footer {
    @extend .text-body;
    font-size: 0.8rem;
    font-weight: 900;
  }
}

figure {
  @extend .mb-3;

  background: none;
  border: none;

  figcaption {
    font-style: italic;
  }
}

h1,h2,h3,h4,h5,h6 {
  @extend .font-weight-bold;
}

h1 {
  @extend .mt-0;
}

hr {
  @extend .my-4, .w-100;
}

.youtube {
  @extend .mx-auto, .mb-3;

  width: 100%;
  height: 315px;

  @include media-breakpoint-up(md) {
    width: 560px;
    height: 315px;
  }
}
