@mixin bg-gray-light() {
  background-color: $gray-light;
}

@mixin bg-gray-lightest() {
  background-color: $gray-lightest;
}

@mixin link-reset() {
  background-image: none !important;
  background-repeat: no-repeat !important;
  background-size: unset !important;
  background-position: unset !important;
  background-origin: unset !important;
}
