// mm == mobi-mart
$mm-dark-tan: rgb(246, 243, 237);

.bg-blue-lightest {
  background-color: $blue-lightest;
}

.bg-dark-tan {
  background-color: $mm-dark-tan;
}

.bg-gray-light {
  @include bg-gray-light();
}

.bg-gray-lightest {
  @include bg-gray-lightest();
}

.px-10vw {
  padding-left: 10vw;
  padding-right: 10vw;
}

.py-4rem {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
