blockquote {
  background-color: #d6d6d6;
  border-width: 0;
  border-radius: $border-radius-lg;
  padding: 2rem;
  font-size: 1.5rem;

  p:before {
    content: "“";
  }
  p:after {
    content: "”";
  }
  p {
    margin-bottom: 0.5rem;
  }

  footer {
    @extend .text-body;
    font-size: 0.8rem;
    font-weight: 900;
  }
}

figure {
  background: none;
  border: none;

  figcaption {
    font-style: italic;
  }
}

h1 {
  @extend .mt-0;
}

hr {
  @extend .my-4, .w-100;
}

img {
  max-width: 100%;
}

article.category {
  @extend .row;

  main {
    @extend .col-md-7, .align-self-center;

    .action.btn {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      min-width: 240px;
    }
  }
  .illustration {
    @extend .col-md-5;
  }
  .articles {
    @extend .col-12;
  }

  > * {
    @extend .mb-4, .px-0;
  }
}

article.post {
  header {
    p {
      @extend .mt-0;
    }
    p:first-of-type {
      @extend .h2;
    }
  }

  aside {
    @extend .text-center, .p-3;
  }
}