.global-header .navbar .branding {
    margin-left: unset;

    a {
        background-image: none;
        background-repeat: no-repeat;
        background-size: unset;
        background-position: unset;
        background-origin: unset;

        img {
            height: 100%;
        }
    }
}

.main-container {
    padding-bottom: 2rem;
}

.global-footer {
    .copyright {
        padding: 1rem 0 2rem;
    }
}