.indicator {
  @extend .font-weight-bold, .required-label;
}

.form-group {
  label {
    @extend .pl-md-3;
  }

  .btn {
    text-transform: uppercase;
  }

  &.submit {
    @extend .d-flex, .justify-content-center, .mt-4, .mt-md-5;

    input[type=submit] {
      width: 100%;
      @include media-breakpoint-up(md) {
        min-width: 150px;
        width: 32%;
      }
    }
  }
}

.form-control {
  @extend .rounded-lg;
  border: solid 2px $black;
  color: $text-color;
  font-size: 1.4rem;
}