.indicator {
  @extend .font-weight-bold, .required-label;
}

.form-group {
  @extend .mb-4;

  label {
    @extend .pl-md-3;
  }

  .btn {
    text-transform: uppercase;
  }

  &.submit {
    @extend .d-flex, .justify-content-center, .mt-4, .mt-md-5;

    input[type=submit] {
      width: 100%;
      @include media-breakpoint-up(md) {
        min-width: 150px;
        width: 32%;
      }
    }
  }
}

.form-control {
  @extend .rounded-lg;
  border: solid 2px $black;
  color: $text-color;
  font-size: 1.4rem;
}

.custom-control {
  @extend .mb-3;

  input[type=checkbox] + .custom-control-label:before {
    @extend .rounded-lg;
    border: solid 2px $black;
    display: inline-block;
    width: 24px;
    height: 24px;
    top: 0.2rem;
  }

  input[type=checkbox]:checked + .custom-control-label:before {
    content: "\2714";
    padding-left: 3px;
    border-color: transparent;
  }

  .custom-control-label {
    font-weight: normal;
    @extend .px-3;

    &:hover {
      cursor: pointer;
    }

    span {
      @extend .pr-1;
      font-weight: bold;
    }
  }
}
