#header {
  .branding {
    a {
      @include link-reset();
    }
  }

  .search-container {
    .search-textfield {
      background-color: $white;
    }
  }
}

.mobile-controls {
  @extend .section-primary;

  .mobile-control {
    color: $white;
  }
}

.toggle-menu span {
  background: $white;
  background-color: $white !important;
}
