#header {
  @extend .pt-3;
  box-shadow: unset;

  .branding {
    .header-organization-banner {
      img {
        max-height: 55px;
      }
    }
  }
}


.ca-gov-icon-close-mark {
  color: $text-color !important;
}
.ca-gov-icon-close-mark {
  font-size: 40px;
  font-weight: bold;
}

.mobile-controls, .mobile-control {
  color: $text-color;
}
.toggle-menu span {
  background-color: $text-color !important;
}

.main-navigation {
  .first-level-link {
    color: $text-color;
    font-family: $font-family;
    font-weight: bold;
  }

  .first-level-link[data-current="current page"] {
    color: $primary;
  }
}

.global-footer .footer-links {
  a {
    color: $white !important;
  }
}

.return-top.is-visible {
  display: inline;
}
