#header {
  @extend .pt-3;
  box-shadow: unset;

  .branding {
    .header-organization-banner {
      img {
        max-height: 55px;
      }
    }
  }
}

.search-container {
  .search-textfield {
    border-color: #ccc;
  }

  &.active {
    background: $gray-lightest;
  }
}

@include media-breakpoint-up(md) {
  #header.compact {
    #nav-item-search .first-level-link {
      margin-top: -1.5rem;
    }
  }
}

.ca-gov-icon-search, .ca-gov-icon-close-mark {
  color: $text-color !important;
}
.ca-gov-icon-close-mark {
  font-size: 40px;
  font-weight: bold;
}

// adjust the top-level search icon
#nav-item-search .first-level-link {
  @include media-breakpoint-up(md) {
    min-height: 86px;
    padding-top: 2rem;

    .ca-gov-icon-search {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.mobile-controls, .mobile-control {
  color: $text-color;
}
.toggle-menu span {
  background-color: $text-color !important;
}

.main-navigation {
  .first-level-link {
    color: $text-color;
    font-family: $font-family;
    font-weight: bold;
  }

  .first-level-link[data-current="current page"] {
    color: $primary;
  }
}

.global-footer .footer-links {
  a {
    color: $white !important;
  }
}

.return-top.is-visible {
  display: inline;
}
