$btn-white-space: nowrap;
$card-border-radius: 12px !important;
$font-family: "Proxima Nova", sans-serif !important;
$font-family-sans-serif: $font-family;
$headings-font-family: "Raleway", sans-serif !important;
$primary: #046b99;
$success: #4e9154;