<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://feature-dsdl--cal-itp-website.netlify.app/stylesheets/dsdl/dsdl.css" />
    <link rel="stylesheet" href="/styles/v2/styles.css" />
  </head>
  <body>
    <div class="d-none d-lg-flex align-items-end justify-content-end vh-100">
      <!-- mostly temp styles to wrap dummy footer -->
      {% include v2/site-footer.html %}
    </div>
  </body>
</html>
