<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Page Not Found | {{site.title}}</title>
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="apple-touch-icon" href="/uploads/icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://calitp.org/stylesheets/dsdl/dsdl.css" />
    <link rel="stylesheet" href="/styles/latest.css" />
  </head>

  <body>
    <div class="d-flex flex-column justify-content-between vh-100">
      <div class="header-wrapper">{% include header/desktop.html %} {% include header/mobile.html %}</div>
      <!-- cheeky (and brittle) bootstrap variable override  -->
      <main class="container" style="--bs-gutter-x: 2rem">{{content}}</main>
      <div class="footer-wrapper">{% include footer/desktop.html %} {% include footer/mobile.html %}</div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
