---
layout: default
---

{% assign _workspace = content | split: '<!-- END_PREFACE -->' %}
{% assign preface = _workspace[0] %}
{% assign real_content = _workspace[1] %}

{{ preface }}

<section class="{{ page.content_class }}">
  <div class="row position-relative" id="toc-and-content">
    <div class="col-md-3">
      <div class="bg-white position-sticky top-0">
        <h2 class="h4 d-none d-md-block d-lg-block">Table of contents</h2>
        <button
          class="toggle-menu rounded-0 btn btn-secondary dropdown-toggle d-sm-block d-xs-block d-md-none d-lg-none"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-display="static"
        >
          Table of contents
        </button>
        <div>
          {% include toc.html html=real_content class="list-unstyled.table-of-contents" submenu_class="list-unstyled" h_max=3 %}
        </div>
      </div>
    </div>
    <div class="col-md-9 content-container">
      {{ real_content }}
    </div>
  </div>
</section>
