---
layout: default
---

{% assign _workspace = content | split: '<!-- END_PREFACE -->' %}
{% assign preface = _workspace[0] %}
{% assign real_content = _workspace[1] %}

{{ preface }}

<section class="{{ page.content_class }}">
  <div class="row" id="toc-and-content">
    <div class="toc col-md-3">
      <div class="toc-container bg-white">
        <h2 class="h4 d-none d-md-block d-lg-block">Table of contents</h2>
        <button
          class="toggle-menu rounded-0 btn btn-secondary dropdown-toggle d-sm-block d-xs-block d-md-none d-lg-none"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-display="static"
        >
          Table of contents
        </button>
        <div class="d-none d-md-block d-lg-block">
          {% include toc.html html=real_content class="table-of-contents" h_max=3 %}
        </div>
        <div class="d-block d-md-none d-lg-none">
          {% include toc.html html=real_content class="dropdown-menu table-of-contents w-100" anchor_class="dropdown-item" h_max=3 %}
        </div>
      </div>
    </div>
    <div class="col-md-9 content-container">
      {{ real_content }}
    </div>
  </div>
</section>
