/* 404 PAGE */
.wrapper-404 {
  gap: 0;
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.heading-404 {
  max-width: calc(var(--spacing-10) * 5);
}

.heading-404 p {
  text-align: center;
}

@media (min-width: 768px) {
  .wrapper-404 {
    gap: var(--spacing-8);
  }

  .heading-404 h1,
  .heading-404 p {
    text-align: left;
  }
}
