/* buttons */
.btn.btn-outline-primary {
  padding: var(--spacing-05) var(--spacing-1);
  border: 1px solid var(--dsdl-gray-50);
  color: var(--dsdl-black);
  font-size: var(--text-l);
}

.btn.btn-outline-primary:focus,
.btn.btn-outline-primary:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}

.btn.btn-outline-primary:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}
