/* PULL QUOTE */

.pull-quote {
  padding: var(--spacing-5) 0;
  margin: var(--spacing-7) 0;
  background-color: var(--dsdl-gray-20);
}
.pull-quote-content {
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--text-xl);
  line-height: var(--line-height-tight);
}
.pull-quote-content_attributed {
  margin-bottom: var(--spacing-3);
}
.pull-quote-content_unattributed {
  margin-bottom: 0;
}
.pull-quote-content_attributed::before {
  content: "“";
  display: block;
  margin-bottom: -0.25em;
  color: white;
  font-family: var(--dsdl-heading-font-stack);
  font-size: calc(150 / 16 * 1rem);
  line-height: 0.75;
  font-weight: 700;
}
.pull-quote_yellow {
  background-color: var(--calitp-brand-yellow);
  color: var(--dsdl-black);
}
.pull-quote_purple {
  background-color: var(--dsdl-purple-30);
  color: var(--dsdl-black);
}
.pull-quote_cyan-light {
  background-color: var(--dsdl-cyan-10);
  color: var(--dsdl-black);
}
.pull-quote_cyan-light .pull-quote-content_attributed::before {
  color: var(--dsdl-cyan-40);
}
.pull-quote_cyan-dark {
  background-color: var(--dsdl-cyan-60);
  color: white;
}
.pull-quote_cyan-dark .pull-quote-content_attributed::before {
  color: var(--dsdl-cyan-10);
}

@media (min-width: 992px) {
  .pull-quote-content_attributed {
    position: relative;
  }
  .pull-quote-content_attributed::before {
    position: absolute;
    top: 0.03125em;
    left: -15%;
  }
}

/* STEP LIST */

.step-list {
  padding-left: 1.875rem;
  padding-bottom: 1.5rem;
  border-left: 0.1875rem solid var(--dsdl-gray-20);
  margin-left: 0.9375rem;
  font-size: var(--text-l);
  list-style: none;
  counter-reset: step-list;
}
.step-list li {
  margin-bottom: 1.5rem;
  position: relative;
  counter-increment: step-list;
}
.step-list li:last-child {
  margin-bottom: 0;
}
.step-list li::before {
  content: counter(step-list);
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: absolute;
  left: -3rem;
  top: -0.0625rem;
  background-color: var(--dsdl-gray-20);
  color: var(--dsdl-black);
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--text-m);
  font-weight: bold;
  line-height: 2.0625rem;
  text-align: center;
}

.step-list_yellow {
  border-left-color: var(--calitp-brand-yellow);
}
.step-list_yellow li::before {
  background-color: var(--calitp-brand-yellow);
  color: var(--dsdl-black);
}
.step-list_purple {
  border-left-color: var(--dsdl-purple-80);
}
.step-list_purple li::before {
  background-color: var(--dsdl-purple-80);
  color: white;
}
.step-list_cyan-light {
  border-left-color: var(--dsdl-cyan-10);
}
.step-list_cyan-light li::before {
  background-color: var(--dsdl-cyan-10);
}
.step-list_cyan-dark {
  border-left-color: var(--dsdl-cyan-60);
}
.step-list_cyan-dark li::before {
  background-color: var(--dsdl-cyan-60);
  color: white;
}

/* HEADER */
.header {
  background-color: #fff;
  padding: var(--spacing-4) var(--spacing-8);
  width: 100%;
}

.header a {
  text-decoration: none;
  color: var(--dsdl-gray-100);
}

.header ul {
  display: flex;
  gap: var(--spacing-2);
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header a {
  border: 1px solid var(--dsdl-gray-40);
  border-radius: var(--spacing-2);
  padding: var(--spacing-1) 12px;
}

.header a:focus {
  outline: 3px solid var(--calitp-brand-blue);
  outline-offset: 2px;
}

.header a.contact {
  border: none;
}

.cta-banner {
  background-color: var(--calitp-brand-yellow);
  height: var(--spacing-10);
}

/* FOOTER */
.footer-wrapper {
  background-color: var(--dsdl-gray-100);
  width: 100%;
}

.footer {
  color: #fff;
  max-width: calc(var(--spacing-base) * 180); /* don't let the actual footer content stretch beyond 1440px */
  padding: var(--spacing-4) var(--spacing-3) var(--spacing-2);
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.privacy-links ul {
  display: flex;
  gap: var(--spacing-1);
  justify-content: space-between;
}

@media (min-width: 992px) {
  .footer {
    padding: var(--spacing-4) var(--spacing-10);
  }

  .privacy-links ul {
    display: unset;
  }
}

.footer a {
  color: inherit;
}

.footer a:focus {
  border-radius: calc(2rem / 16);
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.footer a:hover {
  color: var(--calitp-brand-yellow);
}

.footer nav a,
a:has(> img) {
  text-decoration: none;
}

.footer hr {
  margin: var(--spacing-1) var(--spacing-3);
  opacity: 1;
  width: unset;
}
