@import url("variables.css");
@import url("typography-forms.css");
@import url("buttons.css");
@import url("header.css");
@import url("footer.css");
@import url("pull-quotes.css");

/* BOOTSTRAP OVERRIDES */

/* top-level containers and pull quotes */
main > .container,
.pull-quote > .container,
.dl-hero > .container {
  --bs-gutter-x: var(--spacing-6); /* 24px padding override (w/o sass) */
}

main > .container,
.pull-quote > .container {
  max-width: calc(800px + var(--bs-gutter-x));
}

span.visually-hidden {
  /* Deals with an issue that causes screen readers to read hidden span elements out of order:
     https://github.com/h5bp/main.css/issues/12 */
  margin: auto !important;
}

/* STEP LIST */

.step-list {
  /* This dance of padding/border/margin is needed to
     align the left border with the center of the markers
     and have the text end up 1rem from the marker.
     The amounts total up to 48px / 3rem. */
  padding-left: calc(30rem / 16);
  border-left: calc(3rem / 16) solid var(--dsdl-gray-20);
  margin-left: calc(15rem / 16);
  /* Bottom padding ensures the vertical line extends below the last item. */
  padding-bottom: var(--spacing-3);
  font-size: var(--text-l);
  list-style: none;
  counter-reset: step-list;
}
.numbered {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2.5em;
  margin-top: var(--spacing-5);
}
.step-list li {
  margin-bottom: var(--spacing-3);
  position: relative;
  counter-increment: step-list;
}
.step-list li:last-child {
  margin-bottom: 0;
}
.step-list li::before,
.numbered::before {
  display: block;
  border-radius: 100%;
  position: absolute;
  background-color: var(--dsdl-gray-20);
  color: var(--dsdl-black);
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--text-m);
  font-weight: bold;
  text-align: center;
}
.step-list li::before {
  content: counter(step-list);
  width: var(--spacing-4);
  height: var(--spacing-4);
  left: calc(-1 * var(--spacing-6));
  line-height: calc(2rem + (1rem / 16));
}
.numbered::before {
  content: attr(data-number);
  width: 1.75em;
  height: 1.75em;
  left: 0;
  top: 0;
  font-size: 1em;
  line-height: 1.75em;
}

.step-list_yellow {
  border-left-color: var(--calitp-brand-yellow);
}
.step-list_yellow li::before,
.numbered_yellow::before {
  background-color: var(--calitp-brand-yellow);
  color: var(--dsdl-black);
}
.step-list_purple {
  border-left-color: var(--dsdl-purple-80);
}
.step-list_purple li::before,
.numbered_purple::before {
  background-color: var(--dsdl-purple-80);
  color: white;
}
.step-list_cyan-light {
  border-left-color: var(--dsdl-cyan-10);
}
.step-list_cyan-light li::before,
.numbered_cyan-light::before {
  background-color: var(--dsdl-cyan-10);
}
.step-list_cyan-dark {
  border-left-color: var(--dsdl-cyan-60);
}
.step-list_cyan-dark li::before,
.numbered_cyan-dark::before {
  background-color: var(--dsdl-cyan-60);
  color: white;
}

/* TABLES */

table {
  width: 100%;
  border: 1px solid var(--dsdl-gray-40);
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
}
/* Apply a border to the right of all but the last column */
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--dsdl-gray-40);
}
/* Apply a border to the bottom of all but the last row */
thead th,
tr:not(:last-child) > td,
tbody > tr:not(:last-child) > th {
  border-bottom: 1px solid var(--dsdl-gray-40);
}
td,
th {
  padding: calc(var(--spacing-base) * 1.5); /* 1.25rem (20px) -- add new var --spacing-1-05 var for this? */
}
th {
  background-color: var(--dsdl-gray-20);
}
td ul,
td ol {
  padding-left: 1em;
  margin-bottom: 0;
}
.table_yellow th {
  background-color: var(--dsdl-yellow-10);
}
.table_purple th {
  background-color: var(--dsdl-purple-20);
}
.table_cyan th {
  background-color: var(--dsdl-cyan-10);
}
.table-responsive {
  container-name: responsive-table-wrapper;
  container-type: inline-size;
}

/* Magic numbers decided based on current table content. */
@container responsive-table-wrapper (max-width: calc(720rem / 16)) {
  /* Variables can't be used here yet. */
  .wider {
    min-width: calc(var(--spacing-base) * 120);
  }
}

/* DOWNLOAD CARDS */

.dl-card {
  display: block;
  max-width: calc(var(--spacing-base) * 41.5); /* 20.75rem  (332px) */
  aspect-ratio: 2 / 3;
  padding: 40px;
  border: 1px solid var(--dsdl-gray-50);
  border-radius: 8px;
  margin-bottom: var(--spacing-2);
  position: relative;
  background-color: var(--dsdl-cyan-10);
}
.dl-card-thumbnail {
  display: block;
  width: 100%;
  box-shadow: 0 -2px 16px rgb(38 38 38 / 0.25); /* gray 80 at 20% opacity */
}
.dl-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 52%; /* Ensures three lines of description fit comfortably at default text size. */
  padding: 24px;
  border-top: 1px solid var(--dsdl-gray-50);
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
}
.dl-card-text > h3 {
  color: var(--dsdl-cyan-60);
  font-weight: 700;
}
.dl-card-text > p {
  flex-grow: 1;
}
.dl-tag,
.dl-button {
  display: inline-block;
  border: var(--button-border);
  line-height: var(--line-height-tight);
}
.dl-tag {
  padding: var(--spacing-05) var(--spacing-1);
}
.dl-button {
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
}
.dl-button:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}
.dl-button:focus {
  outline: var(--button-focus-outline);
  outline-offset: var(--button-focus-outline-offset);
}
.dl-button:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}
.dl-button > svg {
  height: 1em;
  margin-left: 0.25em;
  position: relative;
  top: calc(-1.5em / 18); /* adjustment for optical alignment with the text */
}
.dl-button + .dl-button {
  margin-left: var(--spacing-05);
}

/* COMPARISON BLOCK */

.comparison {
  --bs-gutter-x: var(--spacing-1);
}
.comparison > .col-md {
  margin-bottom: var(--spacing-1);
}
.comparison-box {
  height: 100%;
  padding: 16px;
  border-radius: 8px;
}
.comparison-1 {
  border: 1px solid var(--dsdl-cyan-30);
  background-color: var(--dsdl-cyan-10);
}
.comparison-2 {
  background-color: var(--dsdl-cyan-60);
  color: white;
}
.comparison h3 > svg {
  height: 0.875em;
  margin-right: 0.25em;
  position: relative;
  top: calc(-1.5em / 18); /* adjustment for optical alignment with the text */
}
.comparison ul {
  padding-left: 1.375em;
  margin-bottom: 0;
}

/* RELATED NAV */

.related-nav {
  --bs-gutter-x: var(--spacing-1);
}
.related-nav-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  height: var(--spacing-15);
  padding: 16px;
  border: 1px solid var(--dsdl-gray-30); /* lighter than standard buttons */
  border-radius: 8px; /* smaller than standard buttons */
  margin-bottom: var(--spacing-1);
  color: var(--button-text-color);
  text-decoration: none;
}
.related-nav-link:focus {
  outline: var(--button-focus-outline);
  outline-offset: var(--button-focus-outline-offset);
}
.related-nav-link:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}
.related-nav-link:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}
.related-nav-link > .text {
  flex-grow: 1;
}

/* DATA-PLANS */
.estimator {
  border: 1px solid var(--dsdl-black);
  border-radius: 16px;
}

.estimator-2 {
  background-color: var(--dsdl-purple-20);
  border-color: var(--dsdl-purple-50);
}

/* GENERIC / SHARED */
.hero-img {
  width: 100%;
}

@media (min-width: 992px) {
  .hero-img {
    /* to avoid jitter during load */
    height: 533px;
  }
}

.spacer-10 {
  height: var(--spacing-10);
}

.table-caption {
  color: var(--dsdl-gray-60);
}

.bg-info-yellow {
  background-color: var(--dsdl-yellow-10);
}
