/* BOOTSTRAP OVERRIDES */

/* top-level containers and pull quotes */
main > .container,
main > figure > .container {
  --bs-gutter-x: var(--spacing-6); /* 24px padding override (w/o sass) */
}

main > .container {
  max-width: 800px;
}

.navbar {
  gap: var(--spacing-4);
  justify-content: flex-end;
  padding: 12px 0;
}

.navbar-toggler {
  border: none;
}

span.visually-hidden {
  /* Deals with an issue that causes screen readers to read hidden span elements out of order:
     https://github.com/h5bp/main.css/issues/12 */
  margin: auto !important;
}

/* GLOBAL / VARIABLES */

:root {
  --button-bg-color: white;
  --button-border: 1px solid var(--dsdl-gray-50);
  --button-border-radius: 2em; /* enough for the ends to be perfect semicircles */
  --button-font-size: calc(18 / var(--text-base) * 1rem);
  --button-font-weight: 500;
  --button-text-color: var(--dsdl-black);

  --button-hover-bg-color: var(--dsdl-cyan-10);
  --button-hover-border-color: var(--dsdl-cyan-60);
  --button-hover-text-color: inherit;

  --button-focus-outline: 3px solid var(--calitp-brand-blue);
  --button-focus-outline-offset: 3px;

  --button-active-bg-color: var(--dsdl-cyan-80);
  --button-active-border-color: var(--dsdl-cyan-80);
  --button-active-text-color: white;

  --button-large-font-size: var(--text-xl);
  --button-large-font-weight: 700;
  --button-large-text-color: var(--dsdl-cyan-60);
  --button-large-hover-bg-color: var(--dsdl-cyan-60);
  --button-large-hover-border-color: var(--dsdl-cyan-60);
  --button-large-hover-text-color: white;
}

a {
  color: unset;
}

/* TYPE SCALE */

/* If these adjustments prove successful, they should be relocated to the DSDL styles in calitp.org. */

h3,
.h3,
h4,
.h4 {
  font-weight: 700;
}
h5,
.h5 {
  font-size: calc(18 / var(--text-base) * 1rem);
  font-weight: 500;
}
.text-body-xl {
  font-size: var(--text-l);
}

@media (min-width: 992px) {
  h1,
  .h1 {
    font-size: calc(48 / var(--text-base) * 1rem);
    text-align: center;
  }
  h2,
  .h2 {
    font-size: var(--text-xxxl);
    text-align: center;
  }
  h3,
  .h3 {
    font-size: var(--text-xxl);
  }
  h4,
  .h4 {
    font-size: var(--text-xl);
  }
  small,
  .small,
  .text-caption {
    font-size: var(--text-s);
  }
}

/* PULL QUOTE */

.pull-quote {
  padding: var(--spacing-5) 0;
  margin: var(--spacing-7) 0;
  background-color: var(--dsdl-gray-20);
}
.pull-quote-content {
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--text-xl);
  line-height: var(--line-height-tight);
}
.pull-quote-content_attributed {
  margin-bottom: var(--spacing-3);
}
.pull-quote-content_unattributed {
  margin-bottom: 0;
}
.pull-quote-content_attributed::before {
  content: "“";
  display: block;
  margin-bottom: -0.25em;
  color: white;
  font-family: var(--dsdl-heading-font-stack);
  font-size: calc(150 / 16 * 1rem);
  line-height: 0.75;
  font-weight: 700;
}
.pull-quote_yellow {
  background-color: var(--calitp-brand-yellow);
  color: var(--dsdl-black);
}
.pull-quote_purple {
  background-color: var(--dsdl-purple-30);
  color: var(--dsdl-black);
}
.pull-quote_cyan-light {
  background-color: var(--dsdl-cyan-10);
  color: var(--dsdl-black);
}
.pull-quote_cyan-light .pull-quote-content_attributed::before {
  color: var(--dsdl-cyan-40);
}
.pull-quote_cyan-dark {
  background-color: var(--dsdl-cyan-60);
  color: white;
}
.pull-quote_cyan-dark .pull-quote-content_attributed::before {
  color: var(--dsdl-cyan-10);
}

@media (min-width: 992px) {
  .pull-quote-content_attributed {
    position: relative;
  }
  .pull-quote-content_attributed::before {
    position: absolute;
    top: 0.03125em;
    left: -15%;
  }
}

/* STEP LIST */

.step-list {
  /* This dance of padding/border/margin is needed to
     align the left border with the center of the markers
     and have the text end up 1rem from the marker.
     The amounts total up to 48px / 3rem. */
  padding-left: calc(30rem / 16);
  border-left: calc(3rem / 16) solid var(--dsdl-gray-20);
  margin-left: calc(15rem / 16);
  /* Bottom padding ensures the vertical line extends below the last item. */
  padding-bottom: var(--spacing-3);
  font-size: var(--text-l);
  list-style: none;
  counter-reset: step-list;
}
.numbered {
  position: relative;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 2.5em;
}
.step-list li {
  margin-bottom: var(--spacing-3);
  position: relative;
  counter-increment: step-list;
}
.step-list li:last-child {
  margin-bottom: 0;
}
.step-list li::before,
.numbered::before {
  display: block;
  border-radius: 100%;
  position: absolute;
  background-color: var(--dsdl-gray-20);
  color: var(--dsdl-black);
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--text-m);
  font-weight: bold;
  text-align: center;
}
.step-list li::before {
  content: counter(step-list);
  width: var(--spacing-4);
  height: var(--spacing-4);
  left: calc(-1 * var(--spacing-6));
  line-height: calc(2rem + (1rem / 16));
}
.numbered::before {
  content: attr(data-number);
  width: 1.75em;
  height: 1.75em;
  left: 0;
  top: 0;
  font-size: 1em;
  line-height: 1.75em;
}

.step-list_yellow {
  border-left-color: var(--calitp-brand-yellow);
}
.step-list_yellow li::before,
.numbered_yellow::before {
  background-color: var(--calitp-brand-yellow);
  color: var(--dsdl-black);
}
.step-list_purple {
  border-left-color: var(--dsdl-purple-80);
}
.step-list_purple li::before,
.numbered_purple::before {
  background-color: var(--dsdl-purple-80);
  color: white;
}
.step-list_cyan-light {
  border-left-color: var(--dsdl-cyan-10);
}
.step-list_cyan-light li::before,
.numbered_cyan-light::before {
  background-color: var(--dsdl-cyan-10);
}
.step-list_cyan-dark {
  border-left-color: var(--dsdl-cyan-60);
}
.step-list_cyan-dark li::before,
.numbered_cyan-dark::before {
  background-color: var(--dsdl-cyan-60);
  color: white;
}

/* TABLES */

table {
  width: 100%;
  border: 1px solid var(--dsdl-gray-40);
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
}
/* Apply a border to the right of all but the last column */
th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--dsdl-gray-40);
}
/* Apply a border to the bottom of all but the last row */
thead th,
tr:not(:last-child) > td,
tbody > tr:not(:last-child) > th {
  border-bottom: 1px solid var(--dsdl-gray-40);
}
td,
th {
  padding: calc(var(--spacing-base) * 1.5); /* 1.25rem (20px) -- add new var --spacing-1-05 var for this? */
}
th {
  background-color: var(--dsdl-gray-20);
}
td ul,
td ol {
  padding-left: 1em;
  margin-bottom: 0;
}
.table_yellow th {
  background-color: var(--dsdl-yellow-10);
}
.table_purple th {
  background-color: var(--dsdl-purple-20);
}
.table_cyan th {
  background-color: var(--dsdl-cyan-10);
}
.table-responsive {
  container-name: responsive-table-wrapper;
  container-type: inline-size;
}

/* Magic numbers decided based on current table content. */
@container responsive-table-wrapper (max-width: calc(720rem / 16)) {
  /* Variables can't be used here yet. */
  .wider {
    min-width: calc(var(--spacing-base) * 120);
  }
}

/* DOWNLOAD CARDS */

.dl-card {
  display: block;
  max-width: calc(var(--spacing-base) * 41.5); /* 20.75rem  (332px) */
  aspect-ratio: 2 / 3;
  padding: 40px;
  border: 1px solid var(--dsdl-gray-50);
  border-radius: 8px;
  margin-bottom: var(--spacing-2);
  position: relative;
  background-color: var(--dsdl-cyan-10);
}
.dl-card-thumbnail {
  display: block;
  width: 100%;
  box-shadow: 0 -2px 16px rgb(38 38 38 / 0.25); /* gray 80 at 20% opacity */
}
.dl-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 52%; /* Ensures three lines of description fit comfortably at default text size. */
  padding: 24px;
  border-top: 1px solid var(--dsdl-gray-50);
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
}
.dl-card-text > h3 {
  color: var(--dsdl-cyan-60);
  font-weight: 700;
}
.dl-card-text > p {
  flex-grow: 1;
}
.dl-tag,
.dl-button {
  display: inline-block;
  border: var(--button-border);
  line-height: var(--line-height-tight);
}
.dl-tag {
  padding: var(--spacing-05) var(--spacing-1);
}
.dl-button {
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-family: var(--dsdl-heading-font-stack);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-decoration: none;
}
.dl-button:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}
.dl-button:focus {
  outline: var(--button-focus-outline);
  outline-offset: var(--button-focus-outline-offset);
}
.dl-button:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}
.dl-button > svg {
  height: 1em;
  margin-left: 0.25em;
  position: relative;
  top: calc(-1.5em / 18); /* adjustment for optical alignment with the text */
}
.dl-button + .dl-button {
  margin-left: var(--spacing-05);
}

/* DOWNLOAD HERO */

.dl-hero {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-7);
  background-color: var(--dsdl-slate-10);
}
.dl-hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.dl-hero h1 {
  color: var(--calitp-brand-blue);
}
.dl-hero .dl-tag {
  padding: var(--spacing-1);
  background-color: var(--dsdl-cyan-10);
}
.dl-hero .dl-button {
  padding: var(--spacing-1) var(--spacing-3);
  color: var(--button-large-text-color);
  font-size: var(--button-large-font-size);
  font-weight: var(--button-large-font-weight);
}
.dl-hero .dl-button:hover {
  border-color: var(--button-large-hover-border-color);
  background-color: var(--button-large-hover-bg-color);
  color: var(--button-large-hover-text-color);
}
.dl-hero-image > img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .dl-hero {
    padding-top: calc(var(--spacing-base) * 13); /* 6.5rem (104px) */
    padding-bottom: calc(var(--spacing-base) * 22); /* 11rem (176px) */
  }
}

/* COMPARISON BLOCK */

.comparison {
  --bs-gutter-x: var(--spacing-1);
}
.comparison > .col-md {
  margin-bottom: var(--spacing-1);
}
.comparison-box {
  height: 100%;
  padding: 16px;
  border-radius: 8px;
}
.comparison-1 {
  border: 1px solid var(--dsdl-cyan-30);
  background-color: var(--dsdl-cyan-10);
}
.comparison-2 {
  background-color: var(--dsdl-cyan-60);
  color: white;
}
.comparison h3 > svg {
  height: 0.875em;
  margin-right: 0.25em;
  position: relative;
  top: calc(-1.5em / 18); /* adjustment for optical alignment with the text */
}
.comparison ul {
  padding-left: 1.375em;
  margin-bottom: 0;
}

/* RELATED NAV */

.related-nav {
  --bs-gutter-x: var(--spacing-1);
}
.related-nav-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  height: var(--spacing-15);
  padding: 16px;
  border: 1px solid var(--dsdl-gray-30); /* lighter than standard buttons */
  border-radius: 8px; /* smaller than standard buttons */
  margin-bottom: var(--spacing-1);
  color: var(--button-text-color);
  text-decoration: none;
}
.related-nav-link:focus {
  outline: var(--button-focus-outline);
  outline-offset: var(--button-focus-outline-offset);
}
.related-nav-link:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}
.related-nav-link:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}
.related-nav-link > .text {
  flex-grow: 1;
}

/* HEADER */
.header {
  background-color: #fff;
  max-width: calc(var(--spacing-base) * 180); /* don't let the actual content stretch beyond 1440px */
  padding: var(--spacing-3) var(--spacing-2);
}

.global-nav ul {
  gap: var(--spacing-4);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .header {
    padding: var(--spacing-3) var(--spacing-8);
  }

  .header ul {
    gap: var(--spacing-2);
  }
}

.global-nav a,
.header a.contact {
  border: var(--button-border);
  border-radius: 1em; /* not fully rounded like the default buttons */
  color: var(--button-text-color);
  display: inline-block;
  line-height: var(--line-height-tight);
  padding: var(--spacing-1) 12px;
  text-decoration: none;
}

.global-nav a:focus,
.header a.contact:focus {
  outline: var(--button-focus-outline);
  outline-offset: var(--button-focus-outline-offset);
}

.global-nav a:hover,
.header a.contact:hover {
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-bg-color);
}

.global-nav a:active,
.header a.contact:active {
  border-color: var(--button-active-border-color);
  background-color: var(--button-active-bg-color);
  color: var(--button-active-text-color);
}

.header a.contact {
  border: none;
}

.cta-banner {
  background-color: var(--calitp-brand-yellow);
  height: var(--spacing-10);
}

.out-of-service {
  width: 260px;
}

@media (min-width: 768px) {
  .out-of-service {
    width: 424px;
  }
}

.site-logo {
  width: 140px;
}

@media (min-width: 992px) {
  .site-logo {
    width: 160px;
  }
}

/* FOOTER */
.footer-wrapper {
  background-color: var(--dsdl-gray-100);
  width: 100%;
}

.footer {
  color: #fff;
  max-width: calc(var(--spacing-base) * 180); /* don't let the actual footer content stretch beyond 1440px */
  padding: var(--spacing-4) var(--spacing-2) var(--spacing-2);
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.privacy-links ul {
  display: flex;
  gap: var(--spacing-1);
  justify-content: space-between;
}

@media (min-width: 992px) {
  .footer {
    padding: var(--spacing-4) var(--spacing-10);
  }

  .privacy-links ul {
    display: unset;
  }
}

.footer a {
  color: inherit;
}

.footer a:focus {
  border-radius: calc(2rem / 16);
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.footer a:hover {
  color: var(--calitp-brand-yellow);
}

.footer nav a,
a:has(> img) {
  text-decoration: none;
}

.footer hr {
  margin: var(--spacing-1) var(--spacing-3);
  opacity: 1;
  width: unset;
}

/* 404 PAGE */
.wrapper-404 {
  gap: var(--spacing-8);
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.heading-404 {
  max-width: calc(var(--spacing-10) * 5);
}

/* DATA-PLANS */
.estimator {
  border: 1px solid var(--dsdl-black);
  border-radius: 16px;
}

.estimator-2 {
  background-color: var(--dsdl-purple-20);
  border-color: var(--dsdl-purple-50);
}

/* TODO: consider further customizing border-radius etc. using appearance: none; */
input[type="checkbox"] {
  accent-color: var(--dsdl-indigo-80);
  height: var(--spacing-3);
  width: var(--spacing-3);
}

/* GENERIC / SHARED */
.spacer-10 {
  height: var(--spacing-10);
}

.table-caption {
  color: var(--dsdl-gray-60);
}
