body {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

footer {
  color: var(--dsdl-gray-10);
  min-height: 296px;
}

.footer-row {
  margin-top: 2rem;
  margin-left: 80px;
}
