:root {
  --dsdl-white: #fff;
  --dsdl-black: #101010;
}

.footer {
  background-color: var(--dsdl-black);
  color: var(--dsdl-white);
  padding: 2rem 80px;
}

a.subtle-link {
  text-decoration: none;
}
