$map-height-sm: 460px;
$map-height-md: 560px;

.provider-data-download-button {
  width: 230px;
}

.provider-california-map {
  height: $map-height-sm;
  width: 100%;

  @include media-breakpoint-up(md) {
    height: $map-height-md;
  }

  .mapboxgl-ctrl-bottom-left {
    display: none;
  }
}

.provider-agency-table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

// These are magic numbers that probably can be replaced by some CSS magic
.provider-agency-filters {
  left: 15px;
  position: absolute;
  top: -35px;
}

.provider-agency-table {
  height: 630px;
  width: 100%;

  a {
    font-weight: bold;
  }
}

.provider-data-dictionary {
  height: 100%;
  width: 100%;

  .tabulator-row:last-child {
    border-bottom: 0;
  }

  .tabulator-cell {
    word-wrap: break-word;
    white-space: normal;
  }
}
