.home {
  #hero {
    background-color: $blue-lightest;
  }

  #hero, #cta {
    @extend .py-5;
  }

  #cta {
    img {
      max-height: 276px;
      @include media-breakpoint-up(md) {
        max-height: 358px;
      }
    }
  }
}