{% assign action = site.actions | find: "ref_id", include.ref_id %}

{% if action %}

{% assign classes = "action" | split: "," | push: include.class | compact %}
{% assign left = include.left_cols | default: 6 %}
{% assign right = include.right_cols | default: 6 %}

<div class="{{ classes | join: " " }}">
  <div class="row no-gutters">
    <div class="col-md-{{ left }} graphic">
      <div class="card-body d-md-none">
        {% include components/cards/title.html
            title=action.title
            heading_level=include.heading_level %}
      </div>
      <img class="card-img" src="{{ action.card_graphic }}" alt="Graphic for {{ action.title }}" />
    </div>
    <div class="col-md-{{ right }} text">
      <div class="card-body">
        {% include components/cards/title.html
            title=action.title
            heading_level=include.heading_level
            class="d-none d-md-block" %}
        <div class="card-text">
          {{ action.content }}
        </div>
        {% include components/action-button.html ref_id=action.ref_id %}
      </div>
    </div>
  </div>
</div>

{% endif %}