{% assign action = site.actions | find: "ref_id", include.ref_id %}

{% if action %}

{% assign classes = "card,action" | split: "," | push: include.tile_class | compact %}

<div class="{{ classes | join: " " }}">
  <div class="row no-gutters">
    <div class="col graphic">
      <img src="{{ action.card_graphic }}" alt="Graphic for {{ action.title }}" />
    </div>
    <div class="col text">
      <div class="card-body">
        <h2 class="card-title">{{ action.title }}</h2>
        <div class="card-text">
          {{ action.content }}
        </div>
        <div class="card-text">
          {% include components/action-button.html ref_id=action.ref_id %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}