{% assign cat = site.categories | find: "ref_id", include.ref_id %}

{% if cat %}

{% assign classes = "category,image" | split: "," | push: include.class | compact %}

<div class="{{ classes | join: " " }}">
  <img class="card-img-top" src="{{ cat.header_image | absolute_url }}" alt="image illustration for {{ cat.title }}">
  <div class="card-body">
    {% include components/cards/title.html
        title=cat.title
        heading_level=include.heading_level %}
    <p class="card-text">{{ cat.description }}</p>
    <a href="{{ cat.url }}" class="btn btn-link">{{ include.button_text | default: "Read more" }} &gt;</a>
  </div>
</div>

{% endif %}