<header class="d-none d-lg-flex flex-column-reverse header mx-auto">
  <div class="d-flex justify-content-between align-items-center gap-3">
    {% include 'site-logo.html' %}
    <div class="d-flex flex-column align-items-end gap-3">
      <nav class="global-nav" aria-label="Primary">
        <ul class="d-flex justify-space-between">
          {% include 'link-repeater.html', menu_items: site.navigation, list_class: 'mb-0' %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="d-flex flex-column align-items-end gap-3">
    <nav class="d-flex gap-3">
      <a
        class="contact"
        href="/about/"
        {% if page.url == '/about/' %}
          aria-current="page"
        {% endif %}
      >
        About
      </a>
      <a
        class="contact"
        href="/contact/"
        {% if page.url == '/contact/' %}
          aria-current="page"
        {% endif %}
      >
        Contact
      </a>
    </nav>
  </div>
</header>
