<header class="d-lg-none d-flex justify-content-between header">
  {% render "site-logo.html" %}

  <nav class="navbar global-nav" aria-label="Primary">
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#siteHeaderNav"
      aria-controls="siteHeaderNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="siteHeaderNav">
      <ul class="navbar-nav nav-pills nav-fill w-100 align-items-end">
        <li class="pt-2">
          <a class="contact"
             href="/contact"
             {% if page.url == '/contact.html' %}aria-current="page"{% endif %}>
            Contact
          </a>
        </li>
        <li class="font-weight-bold text-end">Explore products and contracts</li>
        {% render "link-repeater.html" site:site %}
      </ul>
    </div>
  </nav>
</header>
