.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a:focus {
  outline: solid 2px #2ea3f2;
}

blockquote {
  background-color: $gray-light;
  border-radius: $border-radius-lg;
  border-width: 0;
  padding: 2rem;
  font-size: 1.5rem;

  p {
    margin-bottom: 0.5rem;

    &::before,
    &::after {
      content: "”";
    }
  }

  footer {
    color: $text-color;
    font-size: 0.8rem;
    font-weight: 900;
  }
}

figure {
  background: none;
  border: none;
  margin-bottom: map-get($spacers, 3);

  figcaption {
    font-style: italic;
  }
}

p {
  margin-bottom: 0.7rem;
}

body {
  line-height: 1.45;
}

h1,
h2,
h3,
h4,
.h4,
h5 {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: $headings-font-family;
}

h4,
.h4,
h5,
.h5 {
  font-size: calc(16rem / 16);
  font-family: var(--bs-body-font-family);
}

h1 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 0.55em;
}

h2 {
  font-size: calc(32rem / 16);
  margin-top: 0.83em;
  margin-bottom: 0.7em;
}

h3,
.h3 {
  font-size: calc(24rem / 16);
}

h4,
.h4,
h5,
.h5 {
  font-size: calc(16rem / 16);
}

h4,
.h4 {
  font-weight: 700;
}

h4.underline {
  font-weight: normal;
  text-decoration: underline;
  font-size: 1rem;
}

h5,
.h5 {
  font-weight: 500;
}

.subtext {
  color: $primary;
  font-size: calc(14rem / 16);
  font-weight: 500;
}

hr {
  margin-bottom: map-get($spacers, 4);
  margin-top: map-get($spacers, 4);
  width: 100%;
}

.youtube {
  height: 315px;
  margin-bottom: map-get($spacers, 3);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include media-breakpoint-up(md) {
    height: 315px;
    width: 560px;
  }
}

.alert-light {
  --bs-alert-color: rgba(4, 72, 105, 1);
  --bs-alert-bg: rgba(213, 238, 245, 0.4);

  a {
    color: var(--bs-alert-color);
  }
}
