// mm == mobi-mart
$mm-dark-tan: rgb(246, 243, 237);

.bg-blue-lightest {
  background-color: $blue-lightest;
}

.bg-dark-tan {
  background-color: $mm-dark-tan;
}

.bg-gray-light {
  background-color: $gray-light;
}

.bg-gray-lightest {
  background-color: $gray-lightest;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-blue-lightest {
  background-color: $blue-lightest;
}

// Text

.text-red {
  color: red;
}

.text-gray-4 {
  color: $gray-4;
}

@include media-breakpoint-down(xs) {
  .fs-xs-5 {
    font-size: calc(20rem / 16);
  }
}

.text-normal {
  font-style: normal;
  font-weight: 100;
}

.fs-0 {
  font-size: 0.75rem;
  letter-spacing: 0.3px;
}

// Buttons

.btn.btn-dark-blue-inverted {
  background-color: #ffffff;
  color: $dark-blue;
  &:hover {
    background-color: $gray-1;
    color: $dark-blue;
  }
}

// Extend Bootstrap's container class by just setting some known widths for our
// "skinny" page container.
.container--skinny {
  width: 100%;
  margin-bottom: 4rem;

  @include media-breakpoint-up(md) {
    width: 2/3 * 100%;
  }

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

// Custom + reusable spacing classes

.mb-60px {
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    margin-bottom: 60px;
  }
}

.px-10vw {
  padding-left: 10vw;
  padding-right: 10vw;
}

.py-4rem {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.no-word-break {
  white-space: nowrap;
}

.no-footer {
  #footer {
    display: none;
  }
}

// Tables

.table-dark-blue {
  background-color: $dark-blue !important;
  box-shadow: none !important;
}

.border-dark-blue {
  border-color: $dark-blue !important;
}

.table-sticky-column {
  position: sticky;
  left: 0;
  z-index: 0;
}

.md-w-75 {
  @include media-breakpoint-up(md) {
    width: 75% !important;
  }
}

.table-caption-bottom {
  caption-side: bottom;
  color: $text-color;
}
