@charset "utf-8";

@import "variables";
@import "functions";

// looks like the only things we're leaning on from this now are inlined bootstrap variables and functions
// https://github.com/olifolkerd/tabulator/blob/56bfd082a63f1002266eea7b88a35cc1f6e42280/src/scss/themes/bootstrap/tabulator_bootstrap4.scss
@import "../../submodules/tabulator/src/scss/bootstrap/tabulator_bootstrap4.scss";

@import "base";
@import "layout";

@import "overrides/buttons";
@import "overrides/forms";
@import "overrides/main-content";

@import "components/filterable-table";
@import "components/footnotes";
@import "components/header";
@import "components/imaged-section";
@import "components/newsletter";
@import "components/page-header";
@import "components/pill";
@import "components/toc-and-content";

@import "pages/contracts";
@import "pages/home";
@import "pages/go-contactless";
@import "pages/how-to-go-contactless";

@import "utilities";
