@charset "utf-8";

@import "variables";
@import "functions";

// it would make more sense (to me) to @import all of bootstrap's Sass here and stop loading it via CDN
// but i don't think thats a yak worth shaving until/unless we decide to keep sass after the information rearchitecture
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

@import "base";
@import "layout";

@import "overrides/buttons";
@import "overrides/forms";
@import "overrides/main-content";

@import "components/filterable-table";
@import "components/footnotes";
@import "components/header";
@import "components/imaged-section";
@import "components/newsletter";
@import "components/page-header";
@import "components/pill";
@import "components/toc-and-content";

@import "pages/contracts";
@import "pages/home";
@import "pages/go-contactless";
@import "pages/how-to-go-contactless";

@import "utilities";
