@charset "utf-8";

@import "variables";
@import "functions";

// when we're done generating our own sass we can remove our npm dependency on bootstrap altogether
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

@import "base";
@import "layout";

@import "overrides/buttons";
@import "overrides/forms";
@import "overrides/main-content";

@import "components/filterable-table";
@import "components/footnotes";
@import "components/header";
@import "components/imaged-section";
@import "components/newsletter";
@import "components/page-header";
@import "components/pill";
@import "components/toc-and-content";

@import "pages/contracts";
@import "pages/home";
@import "pages/go-contactless";
@import "pages/how-to-go-contactless";

@import "utilities";
