<header class="global-header fixed" role="banner" id="header">
  <div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>

  <div class="section-primary">
    {% include site/branding.html %}
  </div>

  {% include site/mobile-controls.html %}

  <div class="navigation-search full-width-nav container">
    <div id="head-search" class="search-container featured-search">
      {% include site/search.html %}
    </div>

    {% include site/navigation.html
          navigation=site.data.nav_main
          nav_id="navigation"
          nav_class="main-navigation singlelevel auto-highlight no-icons nav"
          list_id="nav_list"
          list_class="top-level-nav"
          item_class="nav-item"
          link_class="first-level-link"
    %}
  </div>

  <div class="header-decoration"></div>
</header>