<header class="global-header fixed" role="banner" id="header">
  <div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>

  {% include site/branding.html %}

  {% include site/mobile-controls.html %}

  <div class="navigation-search">
    {% include site/navigation.html
          navigation=site.data.nav_main
          nav_id="navigation"
          nav_class="main-navigation singlelevel auto-highlight no-icons nav"
          list_id="nav_list"
          list_class="top-level-nav"
          item_class="nav-item"
          link_class="first-level-link"
          search_item=true
    %}

    <div id="head-search" class="search-container">
      {% include site/search.html %}
    </div>
  </div>
</header>