{% assign navurl = page.url | remove: 'index.html' %}

<nav {% if include.nav_id %} id="{{ include.nav_id }}"{% endif %} {% if include.nav_class %} class="{{ include.nav_class }}"{% endif %} aria-multiselectable="false" role="tablist">
  <ul {% if include.list_id %} id="{{ include.list_id }}"{% endif %} {% if include.list_class %} class="{{ include.list_class }}"{% endif %}>
  {% for item in include.navigation.items %}
    {%- assign target = item.target | default: "_self" -%}
    <li {% if include.item_class %} class="{{ include.item_class }}"{% endif %}>
      <a {% if include.link_class %} class="{{ include.link_class }}"{% endif %} href="{{ item.url }}" target="{{ target }}" {% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
    </li>
  {% endfor %}
  {% if include.search_item %}
    <li class="nav-item d-none d-md-block" id="nav-item-search">
      <button class="first-level-link" aria-expanded="false">
        <span class="ca-gov-icon-search" aria-hidden="true"></span>
        <span class="sr-only">Search</span>
      </button>
    </li>
  {% endif %}
  </ul>
</nav>