{% assign action = site.actions | find: "ref_id", include.ref_id %}

{% if action %}
  {% assign tile_class = "section" %}

  {% if include.tile_class %}
    {% assign tile_class = "section section-" | append: include.tile_class %}
  {% endif %}

  <div class="action-tile {{ tile_class }}">
    {% if include.show_title %}
    <h2 class="action-title">{{ action.title }}</h2>
    {% endif %}
    <div class="action-content">
      {{ action.content }}
    </div>
    <div class="action">
      {% include components/action-button.html btn_class=include.btn_class ref_id=include.ref_id %}
    </div>
  </div>

{% endif %}