{% assign classes = "hero,row,image" | split: "," | push: include.class | compact %}

<div class="hero-wrapper container">
  <div class="{{ classes | join: " " }}">
    <div class="text">
      <h1 class="font-weight-bold">{{ include.hero.headline }}</h1>
      <div class="content">
        {{ include.hero.text }}
      </div>
      {% if include.hero.action %}
      <div class="content">
        {% include components/actions/hero.html ref_id=include.hero.action %}
      </div>
      {% endif %}
    </div>
    <div class="image">
      <img src="{{ include.hero.image }}" alt="Hero image" />
    </div>
  </div>
</div>