{% assign script = include.script %}
{% assign script_src = "" %}
{% assign script_ext = "" %}

{% comment %} script is an object, use src property {% endcomment %}
{% if script.first and script.src %}
  {% assign script_src = script.src %}
{% comment %} script is a string, use directly {% endcomment %}
{% else %}
  {% assign script_src = script %}
{% endif %}

{% comment %} get the extension (if any) from the include {% endcomment %}
{% assign script_ext = script_src | split: "." | last | default: "" %}

{% if script_ext == "js" %}
  {% comment %} Include as the src to a script tag {% endcomment %}
  {% comment %} get just name of the file (without directory or extension) {% endcomment %}
  {% assign include_id = script_src | split: "." | pop | last | split: "/" | last | replace: "-", "_" | replace: ".", "_" %}
  {% include scripts/jsonify-js-const.html id=include_id data=script %}
  {% include scripts/tag.html src=script_src %}
{% else %}
  {% comment %} Include as an html file in the _includes/scripts directory {% endcomment %}
  {% capture include_target %}scripts/{{ script_src }}.html{% endcapture %}
  {% capture script_content %}{% include {{ include_target }} %}{% endcapture %}
  {% unless script_content contains "Liquid Exception" %}
    {% assign include_id = script_src | replace: "-", "_" | replace: ".", "_" %}
    {% include scripts/jsonify-js-const.html id=include_id data=script %}
    {% include {{ include_target }} %}
  {% endunless %}
{% endif %}
