---
layout: skinny
title: California’s Contracts—for U.S. transit agencies
show_newsletter: true
newsletter_background: bg-dark-tan
class_name: no-banner

new_technology:
  - icon: payment-processor.svg
    icon-alt: Dollar sign wrapped with arrows in a circular shape
    title: Payment Processor
    url: ./view?contracts-filter-product=Payment Processor
    button: View contracts
    content: >
      Back-end service that transmits fares from riders' bank cards and smart devices to transit providers' bank accounts.

  - icon: fare-calculation.svg
    icon-alt: Mathematical symbols
    title: Fare calculation software
    subtitle: Transit Processor Services
    url: ./view?contracts-filter-product=Transit Processor
    button: View contracts
    content: >
      Recognizes riders' unique payment methods and charges the best fare for each trip, accounting for applicable
      discounts and distance traveled. It also enables "fare capping," meaning that riders who pay as they go receive
      the same benefits as pass holders once they reach the cap.

  - icon: fare-validator.svg
    icon-alt: A fare validation device
    title: Fare validators
    subtitle: Payment Acceptance Devices
    url: ./view?contracts-filter-product=Payment Acceptance Devices
    button: View contracts
    content: >
      On-board or platform devices equipped with the technology to read and validate riders’ contactless bank
      cards and smart devices.

  - icon: connectivity.svg
    icon-alt: A signal connection strength indicator
    title: Data plans
    url: ./view?contracts-filter-product=Data Plans
    button: View contracts
    content: >
      Fleet modernization and new vehicle technology are allowing us to be even more connected with our transit journeys.
      To do this, most require data access. These data plans are available to agencies with the pre-negotiated rates listed.
---

<strong class="h4">Contracts</strong>
<p class="pb-3">
  The State of California has Master Service Agreements (MSAs)—most of which are open to all public transportation providers in the U.S.—available to help you modernize your transit system. The Mobility Marketplace serves as Cal-ITP’s online catalog, where transit providers can browse available goods and services and build a customized transit technology system that suits their needs.
</p>

<strong class="h4">How do MSAs Work?</strong>
<p class="pb-3">
    The contracts or MSAs listed on this site are examples of a “state purchasing schedule.” These schedules are agreements between a state or related entity and vendor(s) to provide goods or services at agreed-upon prices. Fundamentally, state purchasing schedules are designed to accommodate other parties that may enter into and benefit from the agreements in the future.
</p>
<p class="pb-3">
    <a href="https://www.transit.dot.gov/sites/fta.dot.gov/files/docs/Third%20Party%20Contracting%20Guidance%20%28Circular%204220.1F%29.pdf" target="_blank">Guidance from the Federal Transit Administration (FTA)</a> supports recipients in pursuing state purchasing schedules, given that agreement parties have granted express permission and all FTA and Federal requirements are met. Read more about <a href="https://www.transit.dot.gov/funding/procurement/third-party-procurement/third-party-procurement-faqs" target="_blank">Third Party Procurement</a> from the FTA.
</p>

<strong class="h4">Contactless Fare Collection</strong>
<p class="pb-3">
    To add contactless fare collection, you will need up to three new technologies and ensure internet connectivity on your fleet (if you don’t already have it).
</p>

<strong class="h4">Become GTFS-compliant first for best results</strong> <em class="subtext">Highly recommended</em>
<p class="pb-4">
    We recommend creating an action plan for becoming GTFS-ready before going contactless, as the vendors you select can help you use this data for reporting purposes plus help your customers see your real-time vehicle location and fare information on journey-planning smartphone maps and apps.
</p>

<p class="mb-60px">
  <a
    href="https://dot.ca.gov/cal-itp/california-minimum-general-transit-feed-specification-gtfs-guidelines"
    class="btn btn-outline-primary"
    target="_blank"
  >
    Learn how to become GTFS-compliant
  </a>
</p>

{% for technology in page.new_technology %}
  <article class="contactless-technology">
    <div class="contactless-technology__icon">
      <img src="/uploads/{{ technology.icon }}" alt="{{ technology.icon-alt }}" />
    </div>
    <div class="contactless-technology__content">
      <h2 class="contactless-technology__header h3">
        {{ technology.title }}
        {% if technology.subtitle %}
          <div class="contactless-technology__subheader">
            ({{ technology.subtitle }})
          </div>
        {% endif %}
      </h2>

      <div class="mb-4">
        {{ technology.content | markdownify }}
      </div>

      {% if technology.url %}
        <a class="btn btn-primary px-5" href="{{ technology.url }}" target="{{ technology.url_target | default: '_self' }}">
      {% else %}
        <p class="text-red"><em><strong>
      {% endif %}

      {{ technology.button }}

      {% if technology.url %}
        </a>
      {% else %}
        </strong></em></p>
      {% endif %}
    </div>
  </article>
{% endfor %}

<p class="text-right my-5">
  <a href="./view">View all contracts</a>
</p>
