---
layout: default
title: State of California Contracts
show_newsletter: true
newsletter_background: bg-dark-tan
class_name: no-banner
---
<script defer src="https://unpkg.com/tabulator-tables@4.8.1/dist/js/tabulator.min.js"></script>
<script defer src="/scripts/smart-table.js"></script>
<script defer src="/scripts/contracts/footer.js"></script>

<div class="container container--skinny">
  <article class="mb-5">
    <h1 class="page-header">State of California Contracts</h1>
    <p class="mb-0">
      The State of California has Master Service Agreements (MSAs) available
      to help you modernize your transit system. Click the contract number below to view all Master Service
      Agreement (MSA) documentation. If you need further assistance as you make your selections,
      you can <a href="/contact">get in touch</a> with <span class="no-word-break">Cal-ITP</span>.
    </p>
  </article>
</div>

<div class="container">
  <section
    id="contracts"
    class="filterable-table-container"
    data-role="smart-table"
    data-filterable-cols="product"
  >
    <div class="filterable-table__pills text-md-right"></div>
    <table class="table">
      <thead>
        <tr>
          <th tabulator-formatter="html">Contract</th>
          <th>Category</th>
          <th>Product</th>
          <th tabulator-formatter="html">Vendor</th>
          {% comment %}<th tabulator-formatter="html">User Instructions</th>{% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for contract in site.data.contracts.entries %}
          <tr>
            <td>
              <a
                href="{{ contract.contract_url }}"
                referrerpolicy="no-referrer"
                target="_blank"
              >
                {{ contract.contract }}
              </a>
            </td>
            <td>
              {{ contract.category }}
            </td>
            <td>
              {{ contract.product }}
            </td>
            <td>
              {{ contract.vendor }}
              {% for footnote in contract.footnotes %}
                <sup>
                  <a
                    id="fn-{{ footnote }}-ref"
                    href="#fn-{{ footnote }}"
                    class="no-default-style footnote-link"
                  >
                    {{ footnote }}
                  </a>
                </sup>
              {% endfor %}
            </td>
            {% comment %}
            <td>
              {% if contract.user_instructions %}
                <a
                  href="{{ contract.user_instructions}}"
                  aria-label="User instructions for using {{ contract.vendor }} as a vendor"
                  referrerpolicy="no-referrer"
                  target="_blank"
                >
                  Instructions
                </a>
              {% endif %}
            </td>
            {% endcomment %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer>
      <ol class="footnote-listing">
        {% for footnote in site.data.contracts.footnotes %}
          {% assign products = "" | split: "" %}
          {% assign footnote_id_str = footnote[0] | append: "" %}

          {% comment%}
          Build up product data-attribute string for each footnote
          {% endcomment %}
          {% for entry in site.data.contracts.entries %}
            {% assign entry_footnotes = entry.footnotes | join: "," | split: "," %}
            {% if entry_footnotes contains footnote_id_str %}
              {% unless products contains entry.product %}
                {% assign p = entry.product | join: "," | split: "," %}
                {% assign products = products | concat: p %}
              {% endunless %}
            {% endif %}
          {% endfor %}

          <li id="fn-{{ footnote[0] }}" data-products="{{ products | join: "," }}">
            <span class="footnote-number">{{ footnote[0] }}.</span>
            <span>{{ footnote[1] }}</span>
          </li>
        {% endfor %}
      </ol>
    </footer>
  </section>
</div>
