.filterable-table-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

// These are magic numbers that probably can be replaced by some CSS magic
.filterable-table__pills {
  left: 15px;
  position: absolute;
  top: -35px;
}
