.mobi-mart-header {
  box-shadow: unset;
  padding-bottom: map-get($spacers, 3);
  padding-top: map-get($spacers, 3);
}

.mobi-mart-logo {
  max-height: 55px;
}

//
// Overrides
//

.toggle-menu span {
  background-color: $text-color !important;
}

.main-navigation {
  .first-level-link {
    color: $text-color;
    font-family: $font-family;
    font-weight: bold;
  }

  .first-level-link[aria-current="page"] {
    color: $primary;
  }
}
