.imaged-section {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-areas:
    "Title"
    "Image"
    "Content";
  padding: 3rem 0;

  &,
  &.imaged-section--compact {
    @include media-breakpoint-up(lg) {
      grid-template-rows: 0.1fr 0.9fr;
    }
  }

  &.imaged-section--middle {
    @include media-breakpoint-up(lg) {
      grid-template-rows: 1fr 1fr;
    }
  }

  &,
  &.imaged-section--right {
    @include media-breakpoint-up(lg) {
      grid-template-columns: 1.2fr 0.8fr;
      grid-template-areas:
        "Title Image"
        "Content Image";
    }
  }

  &.imaged-section--left {
    @include media-breakpoint-up(lg) {
      grid-template-columns: 0.8fr 1.2fr;
      grid-template-areas:
        "Image Title"
        "Image Content";
    }
  }
}

.imaged-section__title {
  grid-area: Title;

  @at-root .imaged-section--middle & {
    display: flex;

    h1, h2, h3,
    h4, h5, h6 {
      margin-top: auto;
    }
  }
}

.imaged-section__content {
  grid-area: Content;
}

.imaged-section__image {
  display: flex;
  grid-area: Image;
  margin-bottom: 2rem;
  margin-top: 1rem;

  @include media-breakpoint-up(lg) {
    margin: 0;
  }

  img {
    align-self: center; // prevent vertical stretching of images
  }
}
