.page-header {
  border-bottom: $border-width solid $border-color;
  margin-bottom: 60px;
  padding-bottom: map-get($spacers, 3);
  text-align: left;

  @include media-breakpoint-up(md) {
    text-align: center;
  }
}
