.pill {
  background-color: #323A45;
  border-radius: 50px;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  white-space: nowrap;

  .pill__close {
    appearance: none;
    background-color: transparent;
    border: 0;
    margin-left: 0.5rem;
    padding: 0;

    &::after {
      font-family: "CaGov" !important;
      color: #fff;
      content: "\51";
    }
  }
}
