.card {
  @extend .border-light;
}

.card-wrapper {
  @extend .mb-3;

  .card-title {
    @extend .h3, .mt-0;
  }

  .card-body {
    .card-text {
      margin-bottom: 2.7rem;
    }
    .btn {
      text-transform: uppercase;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  .text, .graphic {
    @extend .align-self-center;
  }

  .graphic {
    @extend .d-md-flex, .justify-content-md-center, .mb-3, .mb-md-0;
  }

  .action {
    @extend .pb-4, .pb-lg-0;

    .card-body {
      @extend .px-lg-4;
    }

    .btn {
      bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      .btn {
        left: 1.5rem;
      }
    }
  }

  .action-tile {
    @include link-reset();
    @extend .h-100, .p-4;

    .row > * {
      @extend .align-self-center;
    }

    .card-body {
      @extend .p-0;
    }

    img {
      @extend .rounded-circle;
      width: unset;
    }
  }

  .article {
    @extend .p-4;
  }

  .category.image {
    @extend .h-100;

    .card-text + .card-text {
      @extend .mt-4;
    }

    .btn-link {
      @extend .px-0, .font-weight-bold;
    }
  }
}