.card {
  @extend .border-light;
}

.card-wrapper {
  @extend .mb-3;

  .card-title {
    @extend .font-weight-bolder, .h3, .mt-0;
  }

  .card-body {
    .card-text {
      margin-bottom: 2.7rem;
    }
    .btn {
      text-transform: uppercase;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
  }

  .action {
    .text, .graphic {
      @extend .align-self-center;
    }

    @extend .pb-4, .pb-lg-0;

    .card-body {
      @extend .px-lg-4;
    }

    .btn {
      bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      .btn {
        left: 1.5rem;
      }
    }
  }

  .action-tile {
    @include link-reset();
    @extend .h-100, .p-3;

    .card-body {
      @extend .p-0;
    }
  }

  .article {
    @extend .p-4;
  }

  .category.image {
    @extend .h-100;

    .card-text + .card-text {
      @extend .mt-4;
    }

    .btn-link {
      @extend .px-0, .font-weight-bold;
    }
  }
}