.hero {
  // horizontally center image within column
  > .image {
    width: 100%;
    @extend .d-flex, .justify-content-center;
    @include media-breakpoint-up(lg) {
      @include make-col-ready();
      @include make-col(5);
    }
  }

  > .text {
    @include media-breakpoint-up(lg) {
      @include make-col-ready();
      @include make-col(7);
    }
  }

  // vertically center both within column
  > .image, .text {
    @extend .align-self-md-center;
  }

  h1 {
    @extend .mt-md-0;
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    @extend .my-2, .my-md-4, .my-lg-0;
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 2rem;
    }
  }
  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 2.4rem;
      text-align: unset;
    }
  }

  .content:last-of-type {
    @extend .mt-4;
  }

  @include media-breakpoint-down(md) {
    // hide content on smaller screens
    // we have another component to display the content elsewhere on smaller screens
    // see: mobile-tile.scss
    .content {
      display: none;
    }
  }
}