.table, .tabulator {
  font-size: 0.9rem;
}

.tabulator, .tabulator-header, .table th, .table td {
  border-top-width: 2px !important;
}

.tabulator-row {
  border-bottom-width: 2px;

  &:last-of-type{
    border-bottom: none;
  }
}