<table class="table table-striped table-responsive border-0">
  <caption class="table-caption-bottom pt-1">
    Note&#58; Prices shown are the lowest available between CalNet and NASPO for that size plan
  </caption>
  <thead>
    <tr class="table-dark-blue border-dark-blue">
      <th class="table-sticky-column text-white table-dark-blue border-dark-blue align-middle" scope="col">Carrier</th>
      <th class="text-white table-dark-blue border-dark-blue align-top" scope="col" colspan="3">
        FirstNet<br /><span class="text-normal">(NASPO)</span>
      </th>
      <th class="text-white table-dark-blue border-dark-blue" scope="col">
        AT&T<br /><span class="text-normal">(CalNet + NASPO)</span>
      </th>
      <th class="text-white table-dark-blue border-dark-blue" scope="col">
        T-Mobile<br /><span class="text-normal">(CalNet + NASPO)</span>
      </th>
      <th class="text-white table-dark-blue border-dark-blue" scope="col">
        Verizon<br />
        <span class="text-normal">(CalNet + NASPO)</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered border-top-0" scope="row">
        Tiers<br />
      </th>
      <td class="border-dark-blue border-top-0 border-start-0 border-end-0"><em>< 3,000 SIMs</em></td>
      <td class="border-dark-blue border-top-0 border-start-0 border-end-0"><em>3k - 9,999 SIMs</em></td>
      <td class="border-dark-blue border-top-0 border-left-0"><em>>9,999 SIMs</em></td>
      <td class="border-dark-blue border-top-0">-</td>
      <td class="border-dark-blue border-top-0">-</td>
      <td class="border-dark-blue border-top-0">-</td>
    </tr>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered" scope="row">1 GB</th>
      <td class="border-dark-blue border-start-0 border-end-0">$10.00</td>
      <td class="border-dark-blue border-start-0 border-end-0">$7.50</td>
      <td class="border-dark-blue table-bordered border-start-0">$4.99</td>
      <td class="border-dark-blue table-bordered">$20.00</td>
      <td class="border-dark-blue table-bordered">$8.00</td>
      <td class="border-dark-blue table-bordered">$15.00</td>
    </tr>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered" scope="row">2 GB</th>
      <td class="border-dark-blue border-start-0 border-end-0">N/A</td>
      <td class="border-dark-blue border-start-0 border-end-0">N/A</td>
      <td class="border-dark-blue table-bordered border-start-0">N/A</td>
      <td class="border-dark-blue table-bordered">$23.00</td>
      <td class="border-dark-blue table-bordered">$10.00</td>
      <td class="border-dark-blue table-bordered">$20.00</td>
    </tr>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered" scope="row">3 GB</th>
      <td class="border-dark-blue border-start-0 border-end-0">$25.00</td>
      <td class="border-dark-blue border-start-0 border-end-0">$20.00</td>
      <td class="border-dark-blue table-bordered border-start-0">$14.99</td>
      <td class="border-dark-blue table-bordered">$30.00</td>
      <td class="border-dark-blue table-bordered">N/A</td>
      <td class="border-dark-blue table-bordered">N/A</td>
    </tr>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered" scope="row">5 GB</th>
      <td class="border-dark-blue border-start-0 border-end-0">N/A</td>
      <td class="border-dark-blue border-start-0 border-end-0">N/A</td>
      <td class="border-dark-blue table-bordered border-start-0">N/A</td>
      <td class="border-dark-blue table-bordered">$28.00</td>
      <td class="border-dark-blue table-bordered">$21.21</td>
      <td class="border-dark-blue table-bordered">$25.00</td>
    </tr>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered" scope="row">25 GB</th>
      <td class="border-dark-blue table-bordered border-start-0 border-end-0">$34.00</td>
      <td class="border-dark-blue table-bordered border-start-0 border-end-0">$34.00</td>
      <td class="border-dark-blue table-bordered border-start-0">$29.99</td>
      <td class="border-dark-blue table-bordered">N/A</td>
      <td class="border-dark-blue table-bordered">N/A</td>
      <td class="border-dark-blue table-bordered">N/A</td>
    </tr>
    <tr>
      <th class="table-dark-blue border-dark-blue table-sticky-column text-white table-bordered" scope="row">Unlimited</th>
      <td class="border-dark-blue table-bordered border-start-0 border-end-0">N/A</td>
      <td class="border-dark-blue table-bordered border-start-0 border-end-0">N/A</td>
      <td class="border-dark-blue table-bordered border-start-0">N/A</td>
      <td class="border-dark-blue table-bordered">$50.00</td>
      <td class="border-dark-blue table-bordered">N/A</td>
      <td class="border-dark-blue table-bordered">$34.99</td>
    </tr>
  </tbody>
</table>
