<table class="table table-striped">
  <tr>
    <th scope="col" class="border-top align-middle table-dark-blue border-dark-blue text-white table-bordered">1 GB</th>
    <td class="border-top border-dark-blue table-bordered">
      <ul class="p-0 m-0">
        <li class="mx-4">GTFS-RT <em>or</em> 1 fare payment validator</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th scope="col" class="align-middle table-dark-blue border-dark-blue text-white table-bordered">2 GB</th>
    <td class="border-dark-blue table-bordered">
      <ul class="p-0 m-0">
        <li class="mx-4">GTFS-RT</li>
      </ul>
      <ul class="p-0 m-0">
        <li class="mx-4">2 fare payment validators</li>
      </ul>
    </td>
  </tr>
  <tr>
    <th scope="col" class="align-middle table-dark-blue border-dark-blue text-white table-bordered">Unlimited</th>
    <td class="border-dark-blue table-bordered">
      <ul class="p-0 m-0">
        <li class="mx-4">GTFS-RT</li>
      </ul>
      <ul class="p-0 m-0">
        <li class="mx-4">2 fare payment validators</li>
      </ul>
      <ul class="p-0 m-0">
        <li class="mx-4">Cameras</li>
      </ul>
      <ul class="p-0 m-0">
        <li class="mx-4">CAD/AVL</li>
      </ul>
    </td>
  </tr>
</table>
