---
layout: default
---
<article class="page category">
  <main>
    <h1>{{ page.title }}</h1>
    {{ content }}
    {% if page.action %}
        {% include components/actions/button.html btn_class="standout" ref_id=page.action %}
    {% endif %}
  </main>

  <aside class="illustration">
    <img src="{{ page.header_image }}" alt="{{ page.title }} header image" />
  </aside>

  <hr>

  <aside class="articles">
    {% assign articles = site.posts | where: "category", page.ref_id | map: "ref_id" %}
    {% include components/cards/grid.html
        refs=articles
        card_type="article" %}
  </aside>
</article>