---
layout: compress
---

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if (gt IE 9)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% include head.html scripts=page.head_scripts %}
<body>
  <div id="app">
    {% include header.html %}

    <div id="main-content" class="main-content">
      <main class="main-primary" role="main">
        <div class="main-container">
          {{ content }}
        </div>
      </main>
    </div>

    {% include footer.html %}
  </div>

  {% include foot-scripts.html scripts=page.foot_scripts %}
</body>
</html>