---
layout: compress
---

<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if (gt IE 9)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
{% assign list = "," | split: "," %}
{% assign ps = page.head_scripts | default: list %}
{% assign ls = layout.head_scripts | default: list %}
{% assign head_scripts = ps | concat: ls %}
{% include site/head.html scripts=head_scripts %}

{% assign classes = "" | split: "," | push: layout.class | push: page.class | compact | uniq %}
<body class="{{ classes | join: " " }}">
  {% include site/header.html %}

  <div id="main-content" class="main-content">
    <main class="main-primary" role="main">
      <div class="main-container">
        {{ content }}
      </div>
    </main>
  </div>

  {% include site/footer.html %}

  {% assign ps = page.foot_scripts | default: list %}
  {% assign ls = layout.foot_scripts | default: list %}
  {% assign foot_scripts = ps | concat: ls %}
  {% include site/foot-scripts.html scripts=foot_scripts %}
</body>
</html>