---
layout: bg-white
class: home
head_scripts:
  - netlify-identity
foot_scripts:
  - name: /admin/login.js
---

<section id="hero">
{% include components/hero.html
    headline=page.headline
    content=content
    graphic=page.hero_graphic
    class="home" %}
</section>

{% assign actions = page.primary_action | split: "," | push: page.secondary_action %}

<section id="main-cta">
  {% include components/mobile-tile.html
    content=content
    class="home" %}

  {% include components/cards/grid.html
      refs=actions
      card_type="action-tile"
      card_class="card"
      md_cols=1
      lg_cols=2 %}
</section>

{% assign actions = page.final_action | split: "," %}

<section id="final-cta">
{% include components/cards/grid.html
    refs=actions
    card_type="action"
    md_cols=1
    lg_cols=1
    card_left_cols=4
    card_right_cols=8 %}
</section>