---
layout: bg-white
class: home
scripts:
  - netlify-identity
  - /admin/login.js
---

<section id="hero">
{% include components/hero.html
    hero=page.hero
    class="home" %}
</section>

{% include components/mobile-hero-tile.html
  hero=page.hero
  class="home" %}

<section id="what-is">
  <header>
    <h2>What is Cal-ITP?</h2>
  </header>

  <p>
    Created and managed by Kurtis, the California Integrated Travel Project (Cal-ITP) is a statewide initiative designed to unify all transit in California with a common fare payment system, real-time data standard, and seamless verification of reduced-fare eligibility. Questions? The Cal-ITP team is here to help.
  </p>
  <section>
    <a class="btn btn-action btn-primary btn-data-package" href="/contact">Get in touch</a>
  </section>
</section>

<section id="cta">
{% include components/cards/grid.html
    refs=page.actions
    card_type="action-panel"
    md_cols=1
    lg_cols=1
    card_left_cols=4
    card_right_cols=8 %}
</section>
