---
layout: default
---
<header class="global-header fixed" role="banner" id="header">
  <div id="skip-to-content"><a href="#main-content">Skip to Main Content</a></div>

  <div class="branding">
    <div class="header-organization-banner">
      <a href="/">
        <img class="d-lg-none" src="/uploads/logo-sm.svg" alt="California Integrated Travel Project (Cal-ITP)" />
        <img class="d-none d-lg-inline" src="/uploads/logo-lg.svg"
          alt="California Integrated Travel Project (Cal-ITP)" />
      </a>
    </div>
  </div>

  <div class="mobile-controls">
    <div class="mobile-control-group main-nav-icons">
      <button id="nav-icon3" class="mobile-control toggle-menu" aria-expanded="false" aria-controls="navigation"
        data-toggle="collapse" data-target="#navigation">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="sr-only">Menu</span>
      </button>
    </div>
  </div>

  <div class="navigation-search">
    <nav id="navigation" class="main-navigation singlelevel auto-highlight no-icons nav" aria-multiselectable="false"
      role="tablist">
      <ul id="nav_list" class="top-level-nav">
        <li class="nav-item">
          <a class="first-level-link" href="/go-contactless" target="_self">Go contactless</a>
        </li>
        <li class="nav-item">
          <a class="first-level-link" href="/provider-map" target="_self">Provider map</a>
        </li>
        <li class="nav-item">
          <a class="first-level-link" href="/about"
            target="_self">About</a>
        </li>
        <li class="nav-item">
          <a class="first-level-link" href="/glossary-of-key-terms"
            target="_self">Glossary</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <h1>{{page.title}}</h1>
  {{content}}
</main>

<footer id="footer" class="global-footer">
  <div class="container">
    <div class="row">
      <div class="three-quarters">
        <nav aria-multiselectable="false" role="tablist">
          <ul class="footer-links">
            <li>
              <a href="#skip-to-content" target="_self">Back to top</a>
            </li>
            <li>
              <a href="https://dot.ca.gov/privacy-policy" target="_blank">Privacy policy</a>
            </li>
            <li>
              <a href="https://dot.ca.gov/conditions-of-use" target="_blank">Conditions of use</a>
            </li>
            <li>
              <a href="https://registertovote.ca.gov/" target="_blank">Register to vote</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
