---
layout: bg-white
class: provider-map

scripts:
  - mapbox
  - src: /scripts/providers/map.js
    target_id: map
    data_file: /data/providers/counties.geojson
    token: pk.eyJ1IjoiY2FsaXRwLXRyYW5zaXQtc3RvcmUiLCJhIjoiY2tldzA3dnF5MGlmOTJ4b2p0bWZ6ZnNrcSJ9.AOeqhozE542cmioe-YLi2Q

  - tabulator
  - src: /scripts/providers/table.js
    data_id: table-data
    dict_id: table-dict
    data_file: /data/providers/providers.json
    dict_file: /data/providers/dictionary.json
---

<article class="page provider-map">
  <div class="content-section">
    <header>
      <h1>{{ page.headline }}</h1>
    </header>
    <main>
      {{ content }}
    </main>
  </div>
  <aside class="standout-section">
    <div class="row">
      <div class="col-md-5 d-flex">
        <div id="map" class="align-self-center"></div>
      </div>
      <div class="col-md-7 d-flex">
        <div id="table-data" class="align-self-center providers" style="width: 100%; height: 630px;"></div>
      </div>
    </div>
  </aside>
  <aside class="content-section">
    <header>
      <h2>About the data</h2>
    </header>
    <main>
      {{ page.about | markdownify }}

      {% assign action = site.actions | find: "ref_id", page.action %}
      {% if action %}
      <h3>{{ action.title }}</h3>
      {{ action.content }}
      {% include components/actions/button.html ref_id=page.action btn_class="primary btn-data-package" %}
      {% endif %}
    </main>
  </aside>
  <aside class="content-section">
    <header>
      <h2>Data dictionary</h2>
    </header>
    <main>
      <div id="table-dict" class="align-self-center dictionary" style="width: 100%; height: 100%;"></div>
    </main>
  </aside>
  <aside class="content-section">
    <header>
      <h2>Source</h2>
    </header>
    <main>
      {{ page.source | markdownify }}
    </main>
  </aside>
</div>
