---
layout: latest
title: Data plans
description: >
  We make it easy for transit providers to get the data plans they need. Learn if your agency can save on monthly connectivity costs.
---

<div class="container">
  <img width="100%" src="/uploads/data-plans-hero.png" alt="A bus driver operates a vehicle transmitting real-time data." />
  <h1>Data plans</h1>
  <p>
    Whether enabling passengers to see the live location of a bus or train on their phone or tap to pay their fare with
    contactless payment, transit is leveraging cellular data and connectivity to modernize and improve the rider experience.
  </p>
  <p>
    California is making it easier for public transit providers to get the data plans they need through Master Service Agreements
    (MSAs) established by <a href="https://www.dgs.ca.gov/">DGS<span aria-label="(external link)">↗</span></a
    >. These data-only plans are available to agencies with pre-negotiated rates listed. Your transit agency may be eligible to
    upgrade your data plan and save on your monthly connectivity costs.
  </p>
  <p class="text-body-xl">Figure out what you need to get a data plan that meets your needs:</p>

  <ol class="step-list step-list_purple my-4">
    <li><b>Choose a data-only provider</b> and plan that fits your agency’s needs</li>
    <li>
      <b>Review purchase options:</b> You can access data plans in the commercial marketplace or at discounted rates on
      <a href="https://cdt.ca.gov/services/calnet-calitp/">CALNET<span aria-label="(external link)">↗</span></a> or on
      <a
        href="https://resources.calitp.org/mobility-marketplace/State.of.California_Amendment.1_Extension.2023-05.pdf?__hstc=108482141.eb28f040f78da06d6407fceb2dbe3f17.1755810960028.1760985251849.1761063660765.41&__hssc=108482141.4.1761063660765&__hsfp=639139624"
        >NASPO<span aria-label="(external link)">↗</span></a
      >
    </li>
    <li><b>Engage the vendor</b> you’d like to purchase from</li>
    <li><b>Sign the agreement</b></li>
    <li><b>Implement and launch,</b> be sure to coordinate with your hardware providers to align on who will install SIMs</li>
  </ol>
</div>

{% assign quote_color_scheme = "purple" %} {% assign quote_content = "Whether enabling passengers to see the live location of a
bus or train on their phone or tap to pay their fare with contactless payment, transit is leveraging cellular data and
connectivity to modernize and improve the rider experience." %} {% include pull-quote.html color_scheme=quote_color_scheme
content=quote_content %}

<div class="container">
  <h2>Guide to purchase or change data plans</h2>
  <h3 class="numbered numbered_purple" data-number="1">Choose a data plan</h3>
  <h4>Coverage</h4>
  <p>
    Check your area’s coverage, as signal strength can vary. The map below shows FCC data on coverage by providers, including
    AT&T, T-Mobile, Verizon, and FirstNet.
  </p>
  <a href="https://broadbandmap.fcc.gov/location-summary/mobile?zoom=4.17&vlon=-117.083903&vlat=40.891704&env=0&tech=tech4g">
    <img width="100%" src="/uploads/fcc-coverage-map.png" alt="screenshot of FCC coverage map" />
  </a>
  <p>
    Visit
    <a href="https://broadbandmap.fcc.gov/location-summary/mobile?zoom=4.17&vlon=-117.083903&vlat=40.891704&env=0&tech=tech4g"
      >FCC<span aria-label="(external link)">↗</span></a
    >
    or
    <a href="https://www.firstnet.com/coverage.html">FirstNet<span aria-label="(external link)">↗</span></a>
    to learn more.
  </p>
  <h4>Hardware</h4>
  <p>
    Hardware can greatly influence what carrier network you can use. From routers to CAD/AVL systems, camera feeds to passenger
    Wi-Fi, digital fare validators to digital signage, and more, ask hardware vendors about their network compatibility.
  </p>
  <p>
    If the hardware you plan to or have purchased is not certified or compatible to use a SIM on your desired network, you can use
    a router to connect devices via Wi-Fi. There is a higher upfront cost to purchase a router, but it can greatly reduce
    certification frustration down the road.
  </p>
  <p>
    Some agencies opt to use multi-SIM to have a fallback across multiple carriers; check that your hardware can support
    multicarriers. Data prices for primary and secondary coverage are negotiable.
  </p>
  <h4>Data estimation</h4>
  <p>
    How much data you use depends on how many devices are on each vehicle. Typical usage for GTFS software and one fare payment
    validator is 2 GB/month.
  </p>
  {% include usage-estimator.html %}
  <h4>Funding</h4>
  <p>
    You may use funding from various sources to complete this purchase, including the
    <a href="https://www.transit.dot.gov/funding/grants/grant-programs">FTA<span aria-label="(external link)">↗</span></a
    >, <a href="https://dot.ca.gov/">Caltrans<span aria-label="(external link)">↗</span></a
    >, and other sources of local and state public funding. You are encouraged to confirm that your funds are eligible to be used
    for this purchase prior to finalizing the contract.
  </p>
  <h3 class="numbered numbered_purple" data-number="2">Review purchase options</h3>
  <p>
    Both CALNET and NASPO Agreement and Participating Addendum are standardized and allow you to purchase select goods directly
    without additional competitive bidding, including but not limited to purchasing more SIMs from a current vendor, switching to
    another plan, or switching to another vendor.
  </p>
  <h4 id="contracts">Data plans MSAs</h4>
  <p>Cost per month per vehicle, prices are negotiable</p>
  <table class="table_purple my-4">
    <thead>
      <tr>
        <th scope="row">MSAs</th>
        <th colspan="3" scope="col">
          <a href="https://cdt.ca.gov/services/calnet-calitp/">CALNET</a> +
          <a href="https://resources.calitp.org/mobility-marketplace/State.of.California_Amendment.1_Extension.2023-05.pdf"
            >NASPO</a
          >
        </th>
        <th scope="col">
          <a href="https://resources.calitp.org/mobility-marketplace/State.of.California_Amendment.1_Extension.2023-05.pdf"
            >NASPO</a
          >
        </th>
      </tr>
      <tr>
        <th scope="row">Vendors</th>
        <th scope="col">AT&T</th>
        <th scope="col" class="text-nowrap">T-Mobile</th>
        <th scope="col">Verizon</th>
        <th scope="col">FirstNet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1 GB</th>
        <td>$20</td>
        <td>$8</td>
        <td>$15</td>
        <td>$7.50</td>
      </tr>
      <tr>
        <th scope="row">2 GB</th>
        <td>$23</td>
        <td>$10</td>
        <td>$20</td>
        <td>–</td>
      </tr>
      <tr>
        <th scope="row">3 GB</th>
        <td>–</td>
        <td>–</td>
        <td>–</td>
        <td>$20</td>
      </tr>
      <tr>
        <th scope="row">5 GB</th>
        <td>$28</td>
        <td>$21.21</td>
        <td>$25</td>
        <td>–</td>
      </tr>
      <tr>
        <th scope="row">25 GB</th>
        <td>–</td>
        <td>–</td>
        <td>–</td>
        <td>$34</td>
      </tr>
      <tr>
        <th scope="row">Unlimited</th>
        <td>$50</td>
        <td>–</td>
        <td>$34.99</td>
        <td>–</td>
      </tr>
    </tbody>
    <caption class="visually-hidden">
      Data plans MSAs (cost per month per vehicle, prices are negotiable, click on each MSA for terms and conditions)
    </caption>
  </table>
  <p class="table-caption">Click on each MSA for terms and conditions.</p>
  <h3 class="numbered numbered_purple" data-number="3">Reach out to your vendor</h3>
  <p>Reach out to the vendor you’d like to work with. Share your agency goals, hardware, and desired data plan.</p>
  <h4>CALNET</h4>
  <p><b>AT&T:</b> Aaron Rollins<br /><a href="mailto:ar5941@att.com">ar5941@att.com</a>, (916) 837-9795</p>
  <p>
    <b>T-Mobile:</b> Lindsey Shaw<br /><a href="mailto:Lindsey.Shaw34@t-mobile.com">Lindsey.Shaw34@t-mobile.com</a>, (916)
    674-0526
  </p>
  <p>
    <b>Verizon:</b> Melissa Togo<br /><a href="mailto:melissa.togo@verizonwireless.com">melissa.togo@verizonwireless.com</a>,
    (949) 233-1282
  </p>
  <h5>Complete the NESPA</h5>
  <p>
    Self-certify that your organization qualifies for CALNET eligibility. All non-state government entities must complete a
    <a href="https://cdt.ca.gov/services/wp-content/uploads/sites/2/2025/04/CALNET_CALNET-NESPA-10.22_KO1.pdf"
      >Non-State Entity Service Policy and Agreement (NESPA)<span aria-label="(external link)">↗</span></a
    >. Submit completed NESPA forms to <a href="mailto:calnethelp@state.ca.gov">calnethelp@state.ca.gov</a> and cc
    <a href="mailto:hello@calitp.org" aria-label="hello at cal i t p dot org">hello@calitp.org</a>.
  </p>
  <p>
    Need help with the NESPA or unsure if you need one? Reach out at
    <a href="mailto:calnethelp@state.ca.gov">calnethelp@state.ca.gov</a> or call (916) 657-9150.
  </p>
  <h4>FirstNet</h4>
  <p><b>FirstNet:</b> Brett Perez<br /><a href="mailto:Brett.Perez@att.com">Brett.Perez@att.com</a>, (512) 656-2331</p>
  <p>
    FirstNet’s account managers can help you determine how many SIMs you need to purchase. This process from interest to launch
    typically takes 14 weeks.
  </p>
  <p>
    If your device is not eligible for FirstNet, you may still be able to get the same rates on the commercial AT&T network.
    Please contact the FirstNet representatives above to learn more.
  </p>
  <h3 class="numbered numbered_purple" data-number="4">Sign agreement</h3>
  <h4>CALNET</h4>
  <h5>Complete Authorization to Order</h5>
  <p>
    After you’ve selected your vendor and signed the NESPA, you’re ready to order. To use a CALNET contract, you must have an
    Authorization to Order (ATO) form on file with the CALNET Program. Each contractor has a unique ATO:
  </p>
  <ul>
    <li>
      <a href="https://cdt.ca.gov/services/wp-content/uploads/sites/2/2025/04/CALNET-ATT-CAT191-ATO-Form-A11Y.pdf"
        >AT&T<span aria-label="(external link)">↗</span></a
      >
    </li>
    <li>
      <a href="https://cdt.ca.gov/services/wp-content/uploads/sites/2/2025/04/CALNET-TMobile-CAT191-ATO-Form-A11Y.pdf"
        >T-Mobile<span aria-label="(external link)">↗</span></a
      >
    </li>
    <li>
      <a href="https://cdt.ca.gov/services/wp-content/uploads/sites/2/2025/04/CALNET-Verizon-CAT191-ATO-Form-A11Y.pdf"
        >Verizon<span aria-label="(external link)">↗</span></a
      >
    </li>
  </ul>
  <p>Once the ATO is complete, email it to your vendor.</p>
  <h5>Submit purchase order</h5>
  <p>
    Submit a purchase order directly to your vendor, in accordance with their own procurement rules. You may use the
    <a href="https://cdt.ca.gov/services/wp-content/uploads/sites/2/2024/08/CALNET_Form-20_20230504_A11Y.pdf"
      >CALNET ordering Form<span aria-label="(external link)">↗</span></a
    >&thinsp;(<a
      href="https://cdt.ca.gov/services/wp-content/uploads/sites/2/2023/09/CALNET_Form-20_Instructions_20230504_A11Y.pdf"
      >instructions<span aria-label="(external link)">↗</span></a
    >)
  </p>
  <h4>FirstNet</h4>
  <p>Send your request to order via email, including the following information:</p>
  <ul>
    <li>Contacts information (name, phone, email)</li>
    <li>Shipping address</li>
    <li>Anticipated device use case</li>
    <li>Device information (device type, model, and SIM size)</li>
    <li>Quantity of SIMs desired</li>
    <li>Data plan size desired</li>
    <li>Go live target date, if applicable</li>
  </ul>
  <p>
    FirstNet will then provide you with a SIM purchasing and use contract. This contract serves as an addendum to the
    <a
      href="https://resources.calitp.org/mobility-marketplace/State.of.California_Amendment.1_Extension.2023-05.pdf?__hstc=108482141.eb28f040f78da06d6407fceb2dbe3f17.1755810960028.1761166975290.1761169621963.46&__hssc=108482141.3.1761169621963&__hsfp=639139624"
      >National Association of State Procurement Officials (NASPO) Agreement</a
    >
    #MA149.
  </p>
  <p>Review, sign, and send the contract to your FirstNet account manager.</p>
  <h3 class="numbered numbered_purple" data-number="5">Implement and launch</h3>
  <p>
    Once you’ve completed your order form, your new carrier will set up a device management portal. Depending on your carrier, you
    may be able to order your SIMs directly from this portal. Be sure to coordinate installation with your hardware provider,
    especially for PADs, as they may want to install SIMs in the devices.
  </p>
  <p>
    If switching carriers, be sure to align your previous contract end and new provider start dates so you do not lose coverage.
  </p>
  <div class="spacer-10"></div>
  <h2>Additional info</h2>
  <h3>Commonly asked questions</h3>
  <h4>What is FirstNet? Why am I on commercial versus Band 14?</h4>
  <p>
    FirstNet is a broadband network provided by AT&T exclusively for first responders, which transit providers are eligible for.
    The eligibility for the full extent depends in part on the hardware you use. If your hardware is not eligible for the full
    FirstNet experience (Band 14), you may still be eligible for priority on the commercial AT&T network through your FirstNet
    service. Contact your account manager for more information.
  </p>
  <h4>Why can’t I use a Verizon/T-Mobile/AT&T SIM for my XYZ hardware?</h4>
  <p>
    Not all hardware is certified to operate on every network. Certification process is a multi-year process that hardware
    manufacturers apply for. 
  </p>
  <p>
    If you want to use a network which is incompatible with your hardware, one solution is to connect your device through a
    certified router via Wi-Fi network. Talk to your hardware vendors to best understand your choices.
  </p>
  <h4>How do I change carriers?</h4>
  <p>
    You will need to sync the start of the new contract with the expiration of the old one to reduce the risk of service lapse.
  </p>
  <p>
    If your contract is month-to-month, you can simply switch once your new contract is in place. This process tends to be easier
    and more seamless. If your contract is on a fixed time period, you can switch when the old one expires.
  </p>
  <h4>
    Still have questions? Email us at
    <a href="mailto:hello@calitp.org" aria-label="hello at cal i t p dot org">hello@calitp.org</a> or
    <a href="mailto:calnethelp@state.ca.gov">calnethelp@state.ca.gov</a>.
  </h4>
  <h3 class="mt-4">Special cases</h3>
  <h4>Does FirstNet offer passenger Wi-Fi?</h4>
  <p>Chat with your FirstNet account manager to understand what potential solutions could be.</p>
  <div class="spacer-10"></div>
  <h2>Related</h2>
  <nav class="related-nav row mb-5" aria-label="Related">
    <div class="col-md">
      <a class="related-nav-link" href="/tap-to-pay">
        <span class="arrow" aria-label="(previous page)">←</span>
        <span class="text">Learn more about tap to pay rider benefits</span>
      </a>
    </div>
    <div class="col-md">
      <a class="related-nav-link related-nav-link_next" href="/route-scheduling">
        <span class="text">Set up your <b>GTFS Schedule</b> to lay the groundwork for GTFS Realtime</span>
        <span class="arrow" aria-label="(next page)">→</span>
      </a>
    </div>
  </nav>
</div>
