---
layout: latest

# Allow the default _config.yml to set these values
# title: ~
# description: ~
---

<div class="container-sm my-5">
  <div class="row align-items-center">
    <div class="col-lg-6 offset-lg-1">
      <h1 class="fw-normal text-start mb-3">Modernize your transit system with free, guided support from <span class="text-nowrap">Cal-ITP</span></h1>
      <p class="text-body-xl mb-0">Whether it’s connecting your fleet, adding real-time updates, or launching tap-to-pay rides, <span class="text-nowrap">Cal-ITP</span> guides your agency every step of the way. Free support, proven tools, and pre-negotiated contracts put innovation within reach.</p>
    </div>
    <div class="col-lg-5">
      <img class="d-block w-100" src="uploads/hero_home.png" alt="In the foreground is an illustration of a brown-skinned woman with wavy black hair tapping a payment card on a reader, which displays a success indicator. In the background are subtle illustrations of different modes of public transit, trains and two types of buses.">
    </div>
  </div>
</div>

<div class="logo-strip">
  <ul class="logo-strip-list">
    {% for agency in site.data.agencies -%}
      <li><img src="uploads/{{ agency.logo }}" alt="{{ agency.name }}"></li>
    {% endfor %}
    {% for agency in site.data.agencies -%}
      <li><img src="uploads/{{ agency.logo }}" alt="{{ agency.name }}"></li>
    {% endfor %}
  </ul>
</div>

<div class="container-sm mb-5">
  <h2 class="fw-normal">
    <span class="d-md-block">Plan, purchase, and launch</span>
    from data plans to tap to pay benefits
  </h2>
  <div id="showcase" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators d-none d-lg-flex w-100">
      <button type="button" data-bs-target="#showcase" data-bs-slide-to="0" class="active" aria-current="true">Data plans</button>
      <button type="button" data-bs-target="#showcase" data-bs-slide-to="1">Route scheduling</button>
      <button type="button" data-bs-target="#showcase" data-bs-slide-to="2">GTFS Realtime</button>
      <button type="button" data-bs-target="#showcase" data-bs-slide-to="3">Tap to pay</button>
      <button type="button" data-bs-target="#showcase" data-bs-slide-to="4">Rider benefits</button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="uploads/showcase_data-plans.png" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <p class="text-body-xl mb-4">Save with pre-negotiated data plans for your fleets</p>
          <a class="h3" href="/data-plans/">Explore data plan guide</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="uploads/showcase_route-scheduling.png" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <p class="text-body-xl mb-4">Plan and schedule your routes with ease</p>
          <a class="h3" href="/route-scheduling/">Explore route scheduling guide</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="uploads/showcase_gtfs-rt.png" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <p class="text-body-xl mb-4">Get real-time performance insights and share arrival times with riders</p>
          <a class="h3" href="/gtfs-realtime/">Explore GTFS Realtime guide</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="uploads/showcase_tap-to-pay.png" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <p class="text-body-xl mb-4">Get tap to pay, cut boarding times, and keep riders moving fast</p>
          <a class="h3" href="/tap-to-pay/">Explore tap to pay guide</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="uploads/showcase_benefits.png" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <p class="text-body-xl mb-4">Offer tap-to-pay rider benefits from older adults to veterans to CalFresh and more</p>
          <a class="h3" href="/rider-benefits/">Explore rider benefits guide</a>
        </div>
      </div>
    </div>
    <div class="carousel-controls d-flex justify-content-center gap-3 d-lg-none">
      <button class="carousel-control-prev" type="button" data-bs-target="#showcase" data-bs-slide="prev">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14"><path fill="#828282" d="M.278 5.981a.95.95 0 0 0 0 1.345l5.7 5.7a.951.951 0 0 0 1.345-1.345L2.294 6.652 7.32 1.623A.951.951 0 0 0 5.975.278l-5.7 5.7z"/></svg>
        Previous
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#showcase" data-bs-slide="next">
        Next
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14"><path fill="#828282" d="M7.323 5.981a.95.95 0 0 1 0 1.345l-5.7 5.7a.951.951 0 0 1-1.345-1.345l5.03-5.029L.28 1.623A.951.951 0 0 1 1.626.278l5.7 5.7z"/></svg>
      </button>
    </div>
  </div>
</div>

{% assign quote_content = "Cal-ITP has been fantastic. Their support and collaboration has been immensely helpful as well as informative. So happy they are a part of our team!" %}
{% assign quote_source_name = "Robin Van Valkenburgh" %}
{% assign quote_source_title = "Transit Services Division Manager, Nevada County Connects" %}
{% include pull-quote.html content=quote_content source_name=quote_source_name source_title=quote_source_title %}

<div class="container-sm my-5">
  <h2 class="mb-5">Improve rider experience and your agency’s operations</h2>
  <div class="highlights row">
    <div class="col-md-6 col-lg-4">
      <div class="highlight">
        <h3>Grow ridership</h3>
        <img src="uploads/highlight_grow-ridership.png" alt="Illustration of a person tapping a card against a payment acceptance device mounted to a pole">
        <p class="text-body-xl">Tap-to-pay boosted London Underground ridership by 4%</p>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="highlight">
        <h3>Build trust</h3>
        <img src="uploads/highlight_build-trust.png" alt="Illustration of a person using their phone while riding public transportation">
        <p class="text-body-xl">30% shorter perceived wait times with GTFS Realtime data in Seattle</p>
      </div>
    </div>
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0">
      <div class="highlight">
        <h3>Board faster</h3>
        <img src="uploads/highlight_board-faster.png" alt="Illustration of a hand tapping a card against a payment acceptance device">
        <p class="text-body-xl">Dwell time is 50% less when riders tap vs swipe to pay</p>
      </div>
    </div>
  </div>
</div>

<div class="guide-cards">
  <div class="container-sm">
    <h2 class="text-start">Cut your procurement times with <span class="text-nowrap">pre-approved</span> MSAs. Start with our guides.</h2>
    <ul class="row">
      <li class="col-md-4 col-lg">
        <a class="guide-card data-plans" href="/data-plans">
          <h3 class="h4">Data plans</h3>
          <p>Increase your fleet's plan or save with pre-negotiated rates</p>
        </a>
      </li>
      <li class="col-md-4 col-lg">
        <a class="guide-card route-scheduling" href="/route-scheduling">
          <h3 class="h4">Route scheduling</h3>
          <p>Plan and schedule your routes with ease</p>
        </a>
      </li>
      <li class="col-md-4 col-lg">
        <a class="guide-card gtfs-rt" href="/gtfs-rt">
          <h3 class="h4">GTFS Realtime</h3>
          <p>Get real-time performance insights and share arrival times with riders</p>
        </a>
      </li>
      <li class="col-md-4 col-lg">
        <a class="guide-card tap-to-pay" href="/tap-to-pay">
          <h3 class="h4">Tap to pay</h3>
          <p>Cut boarding times and keep riders moving fast</p>
        </a>
      </li>
      <li class="col-md-4 col-lg">
        <a class="guide-card rider-benefits" href="/rider-benefits">
          <h3 class="h4">Rider benefits</h3>
          <p>Offer tap-to-pay-discounts for older adults, veterans, CalFresh, and more</p>
        </a>
      </li>
    </ul>
    <a class="contact-cs" href="mailto:hello@calitp.org" aria-label="Questions? Contact Customer success by emailing hello at cal i t p dot org">Questions? Contact Customer Success →</a>
  </div>
</div>

<div class="bg-blue-lightest">
  <div class="container-sm" id="cta">
    <section class="imaged-section imaged-section--right">
      <div class="imaged-section__title">
        <h2 class="home-title">Get in touch</h2>
      </div>
      <div class="imaged-section__image">
        <img alt="An illustration of a bus' front entrance" class="img-fluid" src="/uploads/bus-circle.svg" />
      </div>
      <div class="imaged-section__content">
        <p>
          Whether you are a public transit provider in California or elsewhere in the US, Cal-ITP can provide materials and
          support to help you navigate the process to modernize your fleet. If you’re a vendor, we’d love to hear about your
          company’s products and/or services.
        </p>

        <a class="btn btn-primary m-t-md" href="/contact" target="_self">Contact us</a>
      </div>
    </section>
  </div>
</div>
