---
layout: main
title: Rider benefits
stylesheet: guide.css
resourceTags: ["Rider benefits"]
description: Learn how to set up Cal-ITP Benefits at your transit agency and extend contactless payments to riders who receive reduced fares.
---
<div class="container">
  <img class="hero-img" src="/uploads/hero_rider-benefits.png" alt="A rider with a walker taps a bank card on a fare validator.">
  <h1 class="my-4">Rider benefits</h1>
  <p>
    Cal-ITP Benefits lets transit agencies extend contactless open loop payments to riders who receive reduced fares. Instead of
    relying on discount fare cards or cash, reduced fare riders can now register for transit benefits online and tie their
    discount to their bank card. This way, they can tap their bank card and get the reduced fare they expect — every time.
  </p>
  <p>
    Created by the California Integrated Travel Project, Cal-ITP Benefits is a first-of-its-kind, open-source web app. Using the
    <a href="https://digitalidstrategy.cdt.ca.gov/">California Identity Gateway</a> and existing data sources like
    <a href="https://login.gov">Login.gov</a>, riders can securely verify their identity and eligibility for reduced fares.
  </p>
  <p>
    Transit providers who choose Cal-ITP Benefits get a reimagined approach to discount programs that integrates with open-loop
    payment systems, meets compliance requirements, and makes public transit easier to navigate for all riders.
  </p>
  <hr class="color-gray-30 opacity-100 my-4">
  <p class="text-body-xl">Learn how to set up Cal-ITP Benefits for your riders:</p>
  <ol class="step-list step-list_green my-4">
    <li><b>Prepare:</b> Fill out the onboarding form for Cal-ITP Benefits.</li>
    <li>
      <b>Scope:</b> Configure fare processing to support your fare policy with the vendor you've selected as your transit
      processor.
    </li>
    <li><b>Test:</b> Work with Cal-ITP and your transit processor to verify the reduced fares process as expected.</li>
    <li><b>Launch:</b> Inform your account manager when you want to allow riders to begin enrolling for reduced fares.</li>
    <li>
      <b>Market:</b> Tell eligible riders they can now receive reduced fares when they pay by debit or credit cards. Work with
      community organizations to amplify the message.
    </li>
  </ol>
</div>

{% assign quote_color_scheme = 'green' %}
{% assign quote_content = 'We transport folks from all over the country year-round, and now visitors 65+ who
    travel here from anywhere in the U.S. can capitalize on MST’s world-class transit by verifying their eligibility
    discount and tapping to ride MST buses for half-price while they’re in town.' %}
{% assign quote_source_name = 'Carl Sedoryk' %}
{% assign quote_source_title = 'GM/CEO, Monterey-Salinas Transit' %}
{% include 'pull-quote.html',
  color_scheme: quote_color_scheme,
  content: quote_content,
  source_name: quote_source_name,
  source_title: quote_source_title
%}

<div class="container">
  <h2>How to get started with Cal-ITP Benefits</h2>

  <h3 class="numbered numbered_green" data-number="1">Fill out the onboarding form</h3>
  <ul>
    <li>
      The <a href="https://share.hsforms.com/1LsDFiHI-TJieFrBEgZyD4g3aanu">Cal-ITP onboarding form</a>, which will take about 10
       minutes to fill out, will make onboarding faster for your organization as we process details, including which discount
       groups are applicable and how to represent your service on Cal-ITP Benefits. 
    </li>
    <li>
    Your Cal-ITP Account Manager can assist you with completing this form.
    </li>
  </ul>

  <h3 class="numbered numbered_green" data-number="2">Set up discount groups and products</h3>
  <p>
    The specific pathways offered to riders of a transit agency are dependent on the discount programs the respective agency offers.
    The following represents all pathways that an agency could elect to offer:
  </p>
  <ul>
    <li><b>Older adults:</b> Riders 65 and older
    <li><b>Veterans:</b> Riders who served in the military, naval, or air service
    <li><b>Medicare cardholders:</b> Riders of any age who have Medicare coverage
    <li><b>Individuals with low income:</b> Riders who receive <a href="https://www.getcalfresh.org/en/">CalFresh</a> benefits
  </ul>
  <p>
    Want to learn more about supported enrollment pathways? Check out the <a href="https://docs.calitp.org/benefits/">Cal-ITP Benefits
    documentation site</a>.
  </p>

  <h3 class="numbered numbered_green" data-number="3">Test the system</h3>
  <p>
    Coordinate with your Cal-ITP Account Manager to ensure that all technical processes are fully ready to go and you can go to market
    with a seamless experience for eligible riders.
  </p>

  <h3 class="numbered numbered_green" data-number="4">Set a go-live date</h3>
  <ul>
    <li>Provide advance notice to help make the transition seamless.</li>
    <li>Once your account is activated, you’ll be informed so you can move on to marketing enrollment to your riders.</li>
  </ul>

  <h3 class="numbered numbered_green" data-number="5">Market Cal-ITP Benefits to your riders</h3>
  <p>Cal-ITP Benefits allows eligible riders to enroll when it is convenient for them, enabling faster boarding and less operator
    involvement. This improves the rider’s transit experience as a whole.</p>
  <h4 class="mt-3 h5">Let riders know contactless payments and Cal-ITP Benefits are an option for them</h4>
  <ul>
    <li>
        Focus marketing on contactless payments vs. other fare products and leverage existing resources, including our
        <a href="/resources/marketing-materials/">bilingual explanation guides</a>.
    </li>
  </ul>

  <h4 class="mt-3 h5">Highlight flexibility and ease of use</h4>
  <ul>
    <li>No need to purchase separate fare cards, which add cost.</li>
    <li>Riders can use the same contactless payment methods they use for other purchases, saving time.</li>
  </ul>

  <h4 class="mt-3 h5">Make it simpler for all riders to adopt these new behaviors</h4>
  <ul>
    <li>Refer unbanked/underbanked transit riders to <a href="https://joinbankon.org/">safe, inclusive banking accounts</a>.</li>
    <li>Offer digital or prepaid card options, which are often cheaper per ride compared to cash payments.</li>
    <li>Cal-ITP Benefits will work with any of the four major credit or debit card schemes that an agency accepts (Visa, Mastercard, Discover, AMEX).
        All cards must be contactless-enabled, and, at this time, only physical cards—not smart devices—will enable transit discounts.</li>
  </ul>

  <h4 class="mt-3 h5">Catalyze change in rider behavior at scale</h4>
  <ul>
    <li>Increase tap to pay usage and Cal-ITP Benefits enrollments across the board by leveraging community partners, helping to amplify the message of convenience and accessibility.</li>
  </ul>

  <h2 class="pt-5 mt-2 mt-md-3">Additional info</h2>
  <h3 class="mt-0">Commonly asked questions</h3>

  <h4 class="mt-0">What are the advantages of using Cal-ITP Benefits over my agency’s current process?</h4>
  <p>
    Combined with tap to pay, Cal-ITP Benefits eliminates the need for proprietary fare media, makes discounts portable across agencies, and uses modern
    payment technology to deliver transit benefits seamlessly.
  </p>
  <p>
    Cal-ITP Benefits can help decrease the administrative burden on transit agencies and remove barriers for riders to receive reduced fares while improving
    social equity and the customer experience.
  </p>
  <p>
    When riders all pay the same way using open-loop payments, there’s more discretion and privacy for riders who received reduced fares, as there’s no
    special card that sets them apart from other riders. This equity in payment method reduces stigma and increases access.
  </p>
  <p>
    Cal-ITP Benefits also reduces the amount of personally identifiable information (PII) riders share when enrolling for transit benefits.
  </p>

  <h4 class="mt-0">What if my agency currently offers reduced fares to a discount group not supported by Cal-ITP Benefits?</h4>
  <p>
    Cal-ITP Benefits is always striving to add support for new benefit options. Partnerships to include other self-service discount eligibility pathways are
    currently underway, such as:
    <ul>
      <li>Additional pathways for persons with disabilities</li>
      <li>Youth</li>
      <li>Students</li>
    </ul>
  </p>

  <h4 class="mt-0">Can my agency use our own eligibility criteria?</h4>
  <p>Cal-ITP Benefits requires adopting its eligibility policy as standard. This allows us to provide streamlined eligibility verification using services like Login.gov.</p>

  <h4 class="mt-0">Can we track reduced fare enrollment with Cal-ITP Benefits?</h4>
  <p>
    Yes, Cal-ITP provides you with an enrollment dashboard. If we have access to your transaction data, we will also provide information on how many riders
    are receiving reduced fares.
  </p>

  <h4 class="mt-0">How does Cal-ITP Benefits work?</h4>
  <p>
    When eligible riders enroll in Cal-ITP Benefits, the Cal-ITP Benefits app interfaces with the California Department of Technology Identity Gateway (IdG) to v
    erify benefit eligibility.
  </p>
  <p>
    Then, the app directs the eligible rider to register the credit or debit card they will use to pay for transit through vendors like Littlepay or Switchio so
    that they receive their reduced fare for an easy, tap-to-pay benefit.
  </p>
  <p>
    There are no accounts or databases that store rider personal information. All PII and payment card details are managed externally from Cal-ITP Benefits.
  </p>

  <h4 class="mt-0">Where can I find technical documentation about Cal-ITP Benefits?</h4>
  <p>Visit our <a href="https://docs.calitp.org/benefits/">documentation site</a> for more information.</p>

  <h4 class="mt-0">Does Cal-ITP Benefits charge the rider’s card?</h4>
  <p>
    No. Benefits does not charge the rider anything. The rider needs to enter their card details only so that their eligibility for reduced fares is linked to
    this card. When they tap to pay on the bus, they will then be charged the appropriate fare just like with any other tap-to-pay transaction.
  </p>

  <h4 class="mt-0">What if some of our riders struggle with technology and can't complete enrollment online?</h4>
  <p>
    To enroll riders in person, you’ll find step-by-step directions in your Cal-ITP Administrator account.
  </p>

  <h4 class="mt-0">Have questions? Email us at <a href="mailto:hello@calitp.org">hello@calitp.org</a>.</h4>
</div>
{% include 'downloadable-resources.html', resource_tags: resourceTags %}
<div class="spacer-10"></div>
<div class="container">
  <h2 class="mt-0 mb-3 pb-3">Related</h2>
  <nav class="related-nav row mb-4 pb-3 pb-0" aria-label="Related">
    <div class="col-md">
      <a class="related-nav-link" href="/gtfs-realtime">
        <span class="arrow" aria-label="(previous page)">←</span>
        <span class="text">Build on Schedule data with <b>GTFS Realtime</b>. Explore the guide</span>
      </a>
    </div>
    <div class="col-md">
      <a class="related-nav-link related-nav-link_next" href="/tap-to-pay">
        <span class="text">Explore <b>tap to pay</b> to bring contactless payments to your fleet</span>
        <span class="arrow" aria-label="(next page)">→</span>
      </a>
    </div>
  </nav>
</div>
