{% assign name = include.name %}
{% assign type = include.type | default: "text" %}
{% assign label = include.label | default: name %}
{% assign description = include.description %}
{% assign placeholder = include.placeholder %}
{% assign required = include.required %}

{% if name %}
<div class="form-group">
  {% include forms/label.html name=name label=label description=description required=required %}
  <input
    class="form-control"
    id="{{ name }}"
    name="{{ name }}"
    type="{{ type }}"
    {% if placeholder %} placeholder="{{ placeholder }}" {% endif %}
    {% if required %} required aria-required="true" {% endif %}
  />
</div>
{% endif %}
