{% include forms/indicates-required.html indicator="*" text="Indicates required fields" %}

<form role="form" method="POST" id="form-subscribe" name="subscribe" data-netlify="true" netlify-honeypot="_honeypot_">
  <div class="form-group">
    <label for="first_name" class="form-control-label">First Name</label>
    <input type="text" class="form-control" name="first_name" placeholder="Nyota" />
  </div>
  <div class="form-group">
    <label for="last_name" class="form-control-label">Last Name</label>
    <input type="text" class="form-control" name="last_name" placeholder="Uhura" />
  </div>
  <div class="form-group">
    <label for="agency" class="form-control-label">Agency Name</label>
    <input type="text" class="form-control" name="agency" placeholder="Elk Grove Transit" />
  </div>
  <div class="form-group">
    <label for="role" class="form-control-label">Role</label>
    <select class="form-control custom-select" name="role">
      <option value="">Select an option</option>
      {% for role in page.roles %}
      <option value="{{ role.name }}">{{ role.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="email" class="form-control-label">Email Address {% include forms/indicator.html %}</label>
    <input type="email" class="form-control" name="email" placeholder="nyota.uhura@elkgrovecity.org" aria-required="true" required />
  </div>
  <div class="form-group">
    <label for="phone" class="form-control-label">Phone Number</label>
    <input type="tel" class="form-control" name="phone-number" placeholder="(415) 555-0199" />
  </div>
  <div class="form-group">
    <label for="comments" class="form-control-label">Other comments or queries</label>
    <textarea class="form-control" name="comments" placeholder="We welcome your feedback!" rows=6></textarea>
  </div>
  <div class="form-group submit">
    <button type="submit" class="btn btn-action btn-primary btn-data-package">Submit</button>
  </div>
  <div class="d-none">
    <label for="_honeypot_"><strong>Do not</strong> fill out this field if you are a human</label>
    <input name="_honeypot_" />
  </div>
</form>

<div class="form-confirm" id="form-confirm">
  {{ page.confirmation.message | markdownify }}
  <div class="form-group submit">
    {% include components/actions/button.html ref_id=page.confirmation.action %}
  </div>
</aside>
