{% assign name = include.name | default: "input" %}
{% assign label = include.label | default: {{ name }} %}
{% assign description = include.description %}
{% assign rows = include.rows | default: 2 %}
{% assign placeholder = include.placeholder %}
{% assign required = include.required %}

<div class="form-group">
  {% include forms/label.html name=name label=label description=description required=required %}
  <textarea
    class="form-control"
    id="{{ name }}"
    name="{{ name }}"
    rows="{{ rows }}"
    {% if placeholder %} placeholder="{{ placeholder }}" {% endif %}
    {% if required %} required aria-required="true" {% endif %}></textarea>
</div>
